[2020-12-08 16:47] alex-popov-tech opened #1 ".vim colors looks strange"
hey!
thanks for the plugin, it works great for me in lua/js/ts!
only issue is - its kinda seems a bit broken for .vim files, do you know why that could happen?
![image](https://user-images.githubusercontent.com/21224705/101514287-cac0d200-3985-11eb-9f30-376bce39ff2f.png)

[2020-12-11 23:59] alecStewart1 opened #2 "Setting background to light"
I'm having an issue where this plugin is setting my background to light.

I have a separate Lua file that sets the background with

[code]

If you eval this with `:lua vim.o.background = "dark"` it will correctly set the background to dark.

Removing this plugin and recompiling with packer, the background is correctly set to dark.

[2021-01-19 18:52] pianocomposer321 commented on #1
I have this same issue...@npxbr is there a fix for this in the works?

[2021-01-26 21:51] ellisonleao commented on #2
you should use the api to change background. It will make sure to set this variable for you.

Something like:

[code]

How's your code that sets the colorscheme and the bg?

[2021-01-26 21:51] ellisonleao commented on #1
Yeah, vim files are still WIP , sorry about that. If you already have the hightlights figured out, please make a PR so we can track it.

[2021-01-26 22:07] ellisonleao opened #4 "add support for gitsigns.nvim"
https://github.com/lewis6991/gitsigns.nvim

[2021-02-08 13:32] #4 closed

[2021-02-08 14:10] ellisonleao opened #6 "add screenshots"

[2021-02-14 00:32] wsdjeg opened #7 "colorscheme should not use top namespace"
not same as normal plugin, colorscheme should not use top namespace.

[2021-02-14 22:03] ellisonleao commented on #7
hey @wsdjeg not sure if i understood the problem. Can you give more context please?

[2021-02-14 23:30] wsdjeg commented on #7
hmm, sorry. I think colorscheme should use `colorscheme.gruvbox` namespace. because someone colorscheme has too general name, for example `sting` which is data type,  `red` which is a name of programming language.

[2021-02-15 00:25] ellisonleao commented on #7
Sorry @wsdjeg i still don't understood the problem. Is this about the lua modules? can you show some code where the problem occurs?

[2021-02-20 19:12] kristijanhusak opened #8 "Missing terminal colors"
Hi,

I noticed that terminal colors are missing (see `:helpgrep terminal_color_`).
I'm not sure if colorbuddy should provide that or not, but they are not defined at all.

[2021-02-22 03:07] ellisonleao opened #10 "Move to lush.nvim"

[2021-02-22 03:38] ellisonleao commented on #8
hey @kristijanhusak, yes they are not defined. From what i saw in the docs, it seems the color highlights are just forwared to the terminal mode, if defined in other highlight groups. Do you have any bug happening now?

[2021-02-22 15:25] kristijanhusak commented on #8
hey @ellisonleao , can you point me to the docs where it explains how it works? From my tests, only background color is picked up. Other terminal colors are taken from the terminal emulator colors.

I'm using a small python script to generate kitty terminal colors from the colorscheme. Script reads `g:terminal_color` values and generates the colorscheme from that. Here's the link if you're interes

[2021-02-24 14:39] #10 closed

[2021-02-24 14:40] ellisonleao commented on #8
hey @kristijanhusak , i've created a new code, using another colorizer plugin and ive added those global variables as well. Can you check latest code and see if it works properly now please?

[2021-02-24 14:41] ellisonleao commented on #2
@alecStewart1 hey alec, now you can use the old behaviour to change colors. Please check latest README for new installation and usage instructions

[2021-02-24 14:41] #2 closed

[2021-02-24 14:42] ellisonleao commented on #1
hey guys can you pull latest code and check new installation instructions and usage please? ive changed the code to use a new colorizer plugin which probably fixed that issue. Can you update and let me know ?

[2021-02-24 16:32] #7 closed

[2021-02-24 19:21] kristijanhusak commented on #8
Hey @ellisonleao , i gave it a test, but it's not working.
It even breaks initialization of nvim-tree plugin because it depends on some of these colors.
When I tried to check what are the values of these colors, it turns out they are tables instead of strings.

For example, this:
[code]

prints an empty table. This should either be a string with hex color in it, or not defined at all.

[2021-02-24 19:34] ellisonleao commented on #8
ok i will debug it here and let you know. Thanks for the feedback

[2021-02-24 21:17] ellisonleao commented on #8
@kristijanhusak just pushed a fix. Lmk if that worked on your side

[2021-02-24 23:23] #6 closed

[2021-02-25 02:20] ellisonleao opened #13 "add external plugin highlights only if plugin is installed"

[2021-02-25 14:58] ellisonleao commented on #1
Closing this since its no longer an issue. If you are still experiencing issues, just open a new one please

[2021-02-25 16:11] dimbleby opened #14 "does not work if telescope not installed"
[code]
As at 9a5a0390f1a169a61f141e4592bfc29cf032e7e2

[2021-02-25 16:16] kristijanhusak commented on #8
Looks good now, thanks!

[2021-02-25 16:16] #8 closed

[2021-02-25 17:22] ellisonleao commented on #14
hey @dimbleby  thanks for the report, will fix that ASAP

[2021-02-25 17:36] ellisonleao commented on #14
just fixed in https://github.com/npxbr/gruvbox.nvim/commit/931428f5d8602137cf65e4bb2fd9c13e91e464fe

[2021-02-25 17:36] #14 closed

[2021-02-25 17:37] #1 closed

[2021-02-25 17:37] #13 closed

[2021-02-25 19:13] roland-rollo opened #16 "Problem with changing background color"
Issue created, after [reddit comment](https://www.reddit.com/r/neovim/comments/lrkrt5/gruvboxnvim_the_lua_port_of_the_most_famous/gooqkh0/?utm_source=reddit&utm_medium=web2x&context=3):

I like hard version of dark mode, but want to have black background.
[code]

I tried also

`vim.cmd("let g:gruvbox_colors = { 'bg0': ['#000000', 0] }")`

But neither variant works. Is there working version of this

[2021-02-26 16:29] ellisonleao commented on #16
hey @syntezoid thanks for the issue

It's kinda strange because i dont see that behaviour on my side

ive tested 2 scenarios:

## default dark mode

[code]

This uses `#282828`  as bg color

![Screenshot from 2021-02-26 13-25-30](https://user-images.githubusercontent.com/178641/109326607-2b013a80-7836-11eb-9a5a-4e529820d310.png)

[code]

This uses `#1d2021` as bg color

![Screenshot from 2021-02-2

[2021-02-26 20:47] Stanislav-Lapata opened #17 "strings color"
[gruvbox](https://github.com/gruvbox-community/gruvbox) dark mode has green strings on screenshot but I see white.
Is it OK?

[2021-02-26 20:51] ellisonleao commented on #17
Color groups are still a WIP, so some groups may still be wrong

[2021-02-26 22:08] Stanislav-Lapata commented on #17
Thanks for your quick response!

[2021-02-27 06:02] harrygallagher4 commented on #17
Actually this looks like an issue with using `unpack` [here](https://github.com/npxbr/gruvbox.nvim/blob/main/lua/gruvbox/init.lua#L274). I assume it's interacting weirdly with lush.

Here's what the `String` highlight group says

<img width="305" alt="Screen Shot 2021-02-26 at 11 59 27 PM" src="https://user-images.githubusercontent.com/1610434/109377137-f9688d80-788e-11eb-8601-437949922134.png">

[2021-02-27 12:42] syntezoid commented on #16
@ellisonleao Hi,
[code]
It's a medium (default dark) mode and it's background color isn't #282828?

![hanuka](https://user-images.githubusercontent.com/44477799/109387342-33727780-7901-11eb-9a18-e8d63cb0b942.png)

[code]
I prefer hard mode version of dark mode, which if I understand background color is #1d2021.

I wanted to have black (#000000) background color, instead of default #1d2021 for hard

[2021-02-27 14:10] ellisonleao commented on #17
yep, will take a look on that

[2021-02-28 02:53] ellisonleao commented on #17
hey @harrygallagher4 @Stanislav-Lapata i did a partial which fixed that initial problem. Can you guys pull latest and try again please?

[2021-02-28 02:56] ellisonleao commented on #16
ah, i see the problem, sorry for the miscommunication, the problem is that we still dont support the full palette override as the main script does, so you can just rely on the `g:gruvbox_` configs for now, which seems to be working with the current backgrounds as expected.

I will keep this issue opened until we support that

[2021-02-28 02:57] ellisonleao opened #18 "Special string does not match original one"

[2021-02-28 05:18] harrygallagher4 commented on #17
Looks good! By the way, when fixed this locally I used:
[code]
which is a bit more concise than splitting up the table into a bunch of `improved_strings_*` variables. It's sort of a hacky way to use the lush dsl though, I haven't seen that syntax used anywhere in the lush examples.

[2021-02-28 15:08] ellisonleao commented on #17
yep, ive opened #18 to investigate special string cases.

[2021-02-28 15:08] #17 closed

[2021-03-03 16:45] marcoaaguiar opened #19 "add airline support"
With the original `morhetz/gruvbox`, the airline plugin "just works."
It would be nice to have it support the airline by default.

Useful link: https://github.com/morhetz/gruvbox/blob/master/autoload/airline/themes/gruvbox.vim

[2021-03-03 16:49] ellisonleao commented on #19
hey @marcoaaguiar thanks for raising the issue! Yes, multiple plugin support is still ongoing, i will be definitely adding that support ASAP

[2021-03-08 02:16] grogna opened #21 "Feature: More support for neovim LSP"
Hello,

could you add further support?
LspReferenceText
LspReferenceRead
LspReferenceWrite

Those are still missing.

[2021-03-10 13:53] #21 closed

[2021-03-11 04:42] rktjmp opened #22 "Use hsl("#...") to help your colourizer"
Not really an *issue*, but I noticed on stream :eyes: you were having trouble with `:Lushify` breaking your hexcode colourizer highlights.

This is because Lush (well, _all_ colorschemes) having to clear all highlight groups to make sure your theme updates are applied cleanly. I wrote a possible solution for colorizer here: https://github.com/norcalli/nvim-colorizer.lua/issues/35 but there hasn't

[2021-03-11 13:31] ellisonleao commented on #22
cool @rktjmp thanks for the tip!

[2021-03-11 13:55] ellisonleao opened #23 "add lightline support"

[2021-03-11 15:20] #22 closed

[2021-03-11 21:49] pianocomposer321 opened #24 "g:gruvbox_invert_selection not working"
In my plugins.lua file I have "vim.g.gruvbox_invert_selection = 0" but it still inverts the colors of the visual selection.

![Screenshot_2021-03-11_15-48-47](https://user-images.githubusercontent.com/54072354/110859645-58f86d00-8281-11eb-9135-c444aa4b0d8d.png)

[2021-03-11 21:57] ellisonleao commented on #24
can you try setting it to `v:false` and trying again please?

[2021-03-11 21:58] pianocomposer321 commented on #24
That works, thanks.

[2021-03-11 21:58] #24 closed

[2021-03-12 02:04] pianocomposer321 opened #25 "Inverted colors on python files when treesitter is installed"
When treesitter is installed and highlighting is enables, any time there is something like an unmatched parenthesis or a for loop without a colon, highlighting gets inverted and it's really distracting. Is there a way to disable this?

![Screenshot_2021-03-11_20-03-33](https://user-images.githubusercontent.com/54072354/110880874-ea2d0b00-82a4-11eb-9e68-fb5bf3f0aaeb.png)

[2021-03-12 02:15] ellisonleao commented on #25
yeah, the error highlights for treesitter are kinda odd, specially on errors, this is a known bug which i am hoping to fix in the next few days.

[2021-03-12 02:39] pianocomposer321 opened #26 "Error when nvim-tree.lua is installed: "attempt to concatenate field 'fg' (a table value)""
Minimal init.vim:

[code]

When I run `:colorscheme gruvbox` I get the following error:
[code]

[2021-03-12 02:48] pianocomposer321 commented on #26
The last commit that doesn't throw the error is a776b2c.

[2021-03-12 14:02] #26 closed

[2021-03-12 14:15] #18 closed

[2021-03-12 18:16] dahmc opened #27 "Typescript has lots of white with treesitter"
In a typescript file, there are a lot of white colors, for all the characters below:
[code]

In the gruvbox community, that's more of a green and fits much nicer.

Is this intended?

[2021-03-12 18:57] ellisonleao commented on #27
hey @dahmc can you show some screenshots and you current config please?

[2021-03-13 18:03] #25 closed

[2021-03-13 18:04] ellisonleao commented on #25
hey @pianocomposer321 ive changed the hightlight with an underline and red bold fg. Unfortunately treesitter still highlights some elements inside the original error msg and you will still see those in a different color. LMK if that makes sense.

[2021-03-13 18:06] pianocomposer321 commented on #25
Looks much better, thanks!

[2021-03-13 19:19] #23 closed

[2021-03-14 09:25] dahmc commented on #27
@ellisonleao Apologies for the incomplete issue I created, I was a bit in a rush.

So, here's how it looks like with gruvbox-community:
![Screenshot 2021-03-14 at 10 16 21](https://user-images.githubusercontent.com/75008413/111063477-fa183b00-84ae-11eb-9de3-4c9576012ff5.png)

This is the same output when used with this repo:

![Screenshot 2021-03-14 at 10 17 33](https://user-images.githubuserconte

[2021-03-14 09:33] dahmc opened #28 "Lightline support not working"
I saw your commit to add lightline support in https://github.com/npxbr/gruvbox.nvim/commit/877451aff3f125ded1cb6c3b080d358bb5cfe112

However, when I start vim, it tells me
`lightline.vim: Could not load colorscheme gruvbox`

I did a plugin update and verified in the folder that `/lua/gruvbox/plugins/lightline.vim` exists, and it's there.

Do I have to enable it somehow?

[2021-03-14 18:21] ellisonleao commented on #28
hey @dahmc can you share your current config please?

[2021-03-14 18:39] dahmc commented on #28
This is my current lightline settings:
[code]

[2021-03-14 18:45] ellisonleao commented on #28
cool i will debug it here on my side. thanks

[2021-03-17 07:55] twnaing opened #29 "using Dictionary as a String"
[code]

I encounter the following error

[code]

using nvim

[code]

[2021-03-17 11:18] dahmc commented on #27
Just updated to the latest tree-sitter 0.19.3 from 0.18.3, and neovim HEAD, still the same color issue

[2021-03-17 14:53] ellisonleao commented on #27
yep, need to check which hightlights are missing and if they are with the right color

[2021-03-17 15:02] ellisonleao commented on #28
hey @dahmc can you pull latest and try again. We still have a loading issue showing an error msg due to the way lightline loads the script, but i could see that the highlights are working fine. LMK if you have more issues and if we can close this

[2021-03-17 15:03] ellisonleao commented on #29
hey @twnaing can you pull latest and try again please? also are you using vim-airline or lightline as plugins?

[2021-03-18 06:03] dahmc commented on #28
@ellisonleao works great. Thanks for the fix!

I don't see any error message btw :)

[2021-03-18 06:03] #28 closed

[2021-03-18 15:18] ellisonleao commented on #27
hey @dahmc i've added some new groups highlights, but we are still missing some groups to be figured out. Are you using another typescript syntax plugin outside treesitter?

[2021-03-18 15:43] dahmc commented on #27
@ellisonleao I only use treesitter for highlighting. If I disable it, it's pretty much all white, so there's nothing else providing syntax.

Here's my plugins and the coc extensions:
[code]

And this is my treesitter config in lua
[code]

[2021-03-19 05:13] twnaing commented on #29
I do use lightline.

[2021-03-19 05:17] #29 closed

[2021-03-23 05:36] ttys3 opened #30 "let g:gruvbox_bold = 0 caused error E418: Illegal value: blend=NONE"
`let g:gruvbox_bold = 0` caused error `E418: Illegal value: blend=NONE`

[code]

the cause:

[code]

@npxbr maybe we should fix this in the upstream ?

https://github.com/rktjmp/lush.nvim/blob/8f03467d6dbb6c24cfa5ebe538ec873f9d4235bb/lua/lush/compiler.lua#L23

like this :

[code]

https://github.com/ttys3/lush.nvim/commit/34e2cf62b86eae265acf521e0f2a6879982a68c0

or ? we should not put `gui` to th

[2021-03-23 06:22] ttys3 commented on #30
there's another problem:

[code]

the `gui=,underline`

even we have `gui == ''` detection in the upstream, this still a problem

[2021-03-23 07:41] rktjmp commented on #30
I think it's the theme writers responsibility to provide well formed values in the spec, and such ttys3/lush.nvim@8f1bbed very likely not be accepted.

(I don't mean that to sound hash, it's just that it soon becomes, "why doesn't lush prefix my colors with #?", "why doesn't lush clamp my blend value to 0-100?",  "why doesn't lush use the new :: join syntax", etc. At some point the user is respons

[2021-03-23 07:59] dhruvmanila commented on #30
I was facing the same issue and I started debugging it as well. It turned out that setting the `gui` field to an empty string caused the error and changing it to `NONE`, if not given, resolved it.

Also, the original option contained `g:gruvbox_sign_column` to provide a custom color for the sign column but that setting is absent in here. (https://github.com/morhetz/gruvbox/wiki/Configuration#ggruv

[2021-03-23 08:38] rktjmp commented on #30
Not really responding to anyone in particular, but have you considered dropping the old gruvbox configuration for a lua one? Probably let you avoid a bunch of headaches.

Obviously this removes the "drop in replacement" checkbox so it may not be ideal, depends on your goals.

You could probably even specify just do it all via lush.extends or use that after processing the users config table (probab

[2021-03-23 08:44] rktjmp commented on #30
@dhruvmanila

That seems like you just need to add the gruvbox color names to the colors table?

i.e:

[code]

Then it would just work?

[2021-03-23 10:52] dhruvmanila commented on #30
No, I think what the author is doing is making a base table consisting of colors for both the dark and light background. The implementation should be changed such that even if we move from the original version of gruvbox to the lua version, as the options are the same, the user should not need to change the configuration.

This requires to change the code where the user options are used to update

[2021-03-23 11:03] rktjmp commented on #30
Ah yes sorry, I didn't use my brain. The colours are already hsl'd.

[2021-03-23 13:01] ttys3 commented on #30
@rktjmp thanks for the very detailed and useful comment

I tried make this change: https://github.com/ttys3/gruvbox.nvim/blob/6b141f330db7147c08148f2449a85e1bb61fc1b2/lua/gruvbox/init.lua#L356

but failed with error:

[code]

[2021-03-23 14:17] rktjmp commented on #30
Because of how lua/lush works you have to alias concat to use it in spec, or do it beforehand:

https://github.com/rktjmp/lush.nvim/blob/main/examples/module-injection/lua/lush_theme/module_injection.lua

[code]
or
[code]
Globals aren't imported (too messy, might conflict with group names or whatever), so the lush spec namespace is limited to whats scoped to the file.

You could also do something

[2021-03-23 16:06] ellisonleao commented on #30
yeah the current code is still not using the new `merge` spec. I hope to make all the fixes and updates ASAP. Thanks for the insights guys

[2021-03-23 16:09] ellisonleao commented on #30
@ttys3 can you share your custom config please?

@dhruvmanila can you share yours as well please?

[2021-03-23 16:12] ttys3 commented on #30
Got the `table.concat` problem fixed in https://github.com/ttys3/gruvbox.nvim/commit/d513bc892df99e50507ad89fd8ca7baa9634827a

but another small problem, for example:

`htmlBoldUnderline {fg = fg1, gui = table_concat({styles.bold, styles.underline}, ",")},`

if `styles.bold` is set to `NONE`, then the result `highlight` cmd will like:

[code]

[2021-03-23 16:14] ttys3 commented on #30
here

[code]

[2021-03-23 16:17] rktjmp commented on #30
@ttys3

given `htmlBoldUnderline {fg = fg1, gui = table_concat({styles.bold, styles.underline}, ",")},`

If `styles.bold = 'NONE'`, & `styles.underline = 'underline'`

then

`table_concat({styles.bold, styles.underline}, ",")`

is

`table_concat({'NONE', 'underline'}, ",") = NONE,underline`

It's doing what you ask of it.

[2021-03-23 16:20] ellisonleao commented on #30
not that you guys asked, but i will be working on those issues tomorrow in stream @ twitch.tv/npxbr 10AM GMT-3

[2021-03-25 14:35] ellisonleao commented on #30
hey @ttys3 i just tested your config here and it seems to be working now, can you pull latest and check again, please?

[2021-03-25 15:15] ellisonleao commented on #30
hey @dhruvmanila i've fixed the custom vars for those colors, can you test it again please?

Also, i don't see a `g:gruvbox_transparent_bg` config in the original gruvbox-community code. Does that config exists somewhere else?

[2021-03-25 18:37] dhruvmanila commented on #30
@ellisonleao yes, it is working now. Thank you for fixing it.

It seems that the gruvbox-community does not provide the option `g:gruvbox_transparent_bg` but the [original gruvbox does](https://github.com/morhetz/gruvbox/wiki/Configuration#ggruvbox_transparent_bg).

[2021-03-25 22:15] timbedard opened #31 "Add support for gruvbox_sign_column"
One thing missing for compatibility is `g:gruvbox_sign_column`. I personally prefer the sign column background to be `bg0` rather than `bg1`, so I have this set. It's a bit of a hassle to go and set all the relevant sign highlight backgrounds to `bg0`.

[2021-03-26 00:38] ellisonleao commented on #31
hey @timbedard, `g:gruvbox_sign_column` should be already supported as you can see it [here](https://github.com/npxbr/gruvbox.nvim/blob/main/lua/gruvbox/base.lua#L70) . Do you have latest code over there?

[2021-03-26 00:53] ellisonleao commented on #30
@dhruvmanila that setting doesn't appears to have any effect since i can't find it in the codebase anywhere. Are you getting any transparency?

[2021-03-26 01:07] timbedard commented on #31
Pffft. Must have mis-grepped. I'll move the option to the setup function in my packer config and see if that does it.

[2021-03-26 02:19] timbedard commented on #31
Ah. I see the problem. The way that `get_color_from_var()` works right now, you can only set colors based on the base palette. In the original gruvbox you can set based on relative colors (such as `bg0`) as well.

[2021-03-26 03:11] timbedard opened #32 "Setting background after startup does not change colors"
Once Neovim is started, `set background=light` (or `dark`) seems to have no effect. With the original, you could live swap between light/dark by setting `background` in via the command line. Is this still possible to achieve, or do we need to take an alternative approach to swapping?

[2021-03-26 08:38] ttys3 commented on #30
The latest version works like a charm

[2021-03-26 13:51] ellisonleao commented on #31
yep, that was the issue, I will add the original behaviour to this one just to keep consistency then.

[2021-03-26 13:54] ellisonleao commented on #32
that's a bug. we will check it out. Thanks for reporting

[2021-03-27 03:52] ttys3 opened #33 "lightline support doc and screenshot"
I've made one:

![gruvbox](https://user-images.githubusercontent.com/41882455/112709267-d2839280-8ef2-11eb-9751-8c8326a0d35a.png)

to use it for lightline:

[code]

if this is OK, I think I could make a PR

[2021-03-27 03:53] ttys3 commented on #33
by the way, the VISUAL mode statusbar background is diff, is this the desired result ? @ellisonleao

[2021-03-30 00:29] ellisonleao commented on #30
closing this since the bug was fixed

[2021-03-30 00:29] #30 closed

[2021-03-30 21:33] #32 closed

[2021-03-30 21:44] #31 closed

[2021-03-31 03:06] dhruvmanila commented on #30
Right. The original gruvbox code does not contain the use of that option although I used [gruvbox-material](https://github.com/sainnhe/gruvbox-material) which has the same option and what it does is basically remove any background color like in the the sign column.

Ref (`*_transparent_bg`): https://github.com/sainnhe/gruvbox-material/blob/master/colors/gruvbox-material.vim#L31

[2021-04-01 05:26] gshpychka opened #34 "Incorrect init.vim usage example"
The usage code from the readme does not seem to be correct:

Should be

Or am I missing something?

[2021-04-01 05:33] gshpychka commented on #27
Same issue here with Python.

[2021-04-01 13:58] #34 closed

[2021-04-01 14:00] ellisonleao commented on #27
hey @gshpychka what are the chars you are having issues? can you provide some code please?

[2021-04-02 05:41] gshpychka commented on #27
Same ones as in this issue:

![image](https://user-images.githubusercontent.com/23005347/113384628-21b44200-938f-11eb-9bfc-acc5df0c38bf.png)

And with `gruvbox-community`:

![image](https://user-images.githubusercontent.com/23005347/113384650-2e389a80-938f-11eb-87d6-bee81d1ef857.png)

[2021-04-06 01:16] ellisonleao commented on #27
hey guys can you let me know if its okay now?

[2021-04-06 04:59] dahmc commented on #27
@ellisonleao looks great now. Exactly the same as from the community one. Thanks a lot for fixing this!

I have now switched to this version permanently, instead of the community one. Great work!

[2021-04-06 04:59] #27 closed

[2021-04-13 21:52] m-fonseca opened #37 "colors in diffmode can be hard to see (depending on current syntax highlighting)."
Hello!

When using the original gruvbox, diffs were very easy to see because of the background text changes.  It was kinda ugly but very easy to see.

With this implementation the diffs have no background highlighting and are nuanced (this varies depending on what syntax highlighting is going on though).  Sometimes its challenging to pick out the differences.  It might be worth considering a chang

[2021-04-14 13:49] ellisonleao commented on #37
hey @m-fonseca can you show some screenshots and your current config, please?

[2021-04-20 08:21] stvhuang opened #38 "Add support for gitsigns.nvim"
Add support for [gitsigns.nvim](https://github.com/lewis6991/gitsigns.nvim). Thanks!

[2021-04-20 23:31] timbedard commented on #25
@ellisonleao And now I'm running into the deviation from OG gruvbox in all other uses of `Error`. 😂

1. I vote we revert the `Error` highlight group to again match OG gruvbox.

2. If I understand correctly, `TSError` highlights where Treesitter encountered a parsing error, not where there is an error in the code or where some symbol in the code is of an Error type, so it's a bit of an oddball as f

[2021-04-23 13:57] #38 closed

[2021-04-23 15:28] ellisonleao commented on #33
I don't think we need to add screenshots for plugin supports we can just add them to the list of the supported plugins.

As for the visual color, its using the same color patterns from the [comunnity gruvbox version](https://github.com/gruvbox-community/gruvbox/blob/master/autoload/lightline/colorscheme/gruvbox.vim#L46-L48). If you are having other issues, let's open a new issue.

[2021-04-23 15:28] #33 closed

[2021-04-24 16:59] marcelarie opened #40 "Slow Startup Time."
I don't know if this is an issue but I just wanted to notify it.

**[gruvbox morhetz](https://github.com/morhetz/gruvbox)** 29.296
**[vim-gruvbox8](https://github.com/lifepillar/vim-gruvbox8)** 6.132
**[gruvbox.nvim](https://github.com/npxbr/gruvbox.nvim)** 63.473

[2021-04-24 17:19] marcelarie opened #41 "Red color for folders."
In the original gruvbox this ones are green.
My terminal is kitty.
![image](https://user-images.githubusercontent.com/62728887/115967264-f22dcb00-a531-11eb-8aea-2e32ce2f931e.png)

[2021-04-24 17:57] ellisonleao commented on #40
hey @marcelarie how are you getting those numbers?

[2021-04-24 17:59] ellisonleao commented on #41
Are you using treesitter?

[2021-04-24 18:03] marcelarie commented on #40
I don't know really, they aren't normal right?

[2021-04-24 18:04] marcelarie commented on #41
Yes.

[2021-04-24 18:39] ellisonleao commented on #41
What plugin is this one? Nerdtree, nvim-tree, other?

[2021-04-24 18:40] ellisonleao commented on #40
@marcelarie lua modules are loaded differently, you can't measure the right startup time using this plugin, unfortunately.

[2021-04-24 18:42] marcelarie commented on #41
Sorry I didn't give enough info from the beginning :)
It's [nvim-tree]( https://github.com/kyazdani42/nvim-tree.lua)

[2021-04-24 18:45] marcelarie commented on #40
Then that's why, Thank you!!

[2021-04-24 18:59] #40 closed

[2021-04-26 08:47] stvhuang commented on #38
Thanks!

[2021-04-26 09:28] ndreas commented on #41
It's the same in the wildmenu, directories are red. The highlight group is `Directory` and it differs from the original Gruvbox:

https://github.com/npxbr/gruvbox.nvim/blob/main/lua/gruvbox/base.lua#L183
https://github.com/gruvbox-community/gruvbox/blob/master/colors/gruvbox.vim#L617

[2021-04-26 11:56] ellisonleao commented on #41
yep, will make the fix asap

[2021-04-27 10:59] NullSense commented on #19
Any updates on this?

[2021-05-02 23:41] Mayrixon commented on #37
I might have the same problem but in a different situation.

I'm trying to config neovim 0.5 with built-in LSP. I found the bg color of floating windows when using "hover" provided by LSP is the same as the main window's bg color. However, the bg color of auto-complete floating windows looks fine.

I also tested with coc.nvim, and found the same problem.

[2021-05-05 00:37] #41 closed

[2021-05-06 17:14] hanschen opened #42 "Add support for g:gruvbox_guisp_fallback"
Are there any specific reasons why `g:gruvbox_guisp_fallback` isn't supported? I find it useful to color misspelled words in terminal `neovim` (currently the words are only underlined), but maybe I'm missing something.

Thanks for porting gruvbox to lua and adding support for treesitter!

[2021-05-09 12:23] Mayrixon commented on #37
I've already created PR #44 to fix this problem. In morhetz/gruvbox, there is no setting for `NormalFloat` or `NormalNC`, hence Neovim would decide a default bg color. However before #44, Both `NormalFloat` and `NormalNC` are setted as `Normal` text, which means the bg color would be setted as the same as main text area's bg color. This may caused the undistinguish areas between main windows and f

[2021-05-10 02:18] gmr458 opened #45 "How I can disable italic text?"

[2021-05-10 13:20] ellisonleao commented on #45
vimscript:
[code]
or

lua:
[code]

[2021-05-10 16:30] gmr458 commented on #45
@ellisonleao Thanks.

[2021-05-11 00:23] horta opened #46 "Green colours within neovim terminal becomes red"
I believe there is a mistake here: https://github.com/npxbr/gruvbox.nvim/blob/c26c456a6b36cac79e01f6cf7eebb8cc9231ab16/lua/gruvbox/base.lua#L111

Originally green colours from git commands turn into red if I don't comment that line out:

<img width="1588" alt="wrong" src="https://user-images.githubusercontent.com/514522/117739869-232b2280-b1f7-11eb-9474-ce825463daf1.png">

With that line commented

[2021-05-11 18:21] cydmium opened #48 "No highlighting"
I am not sure what is going wrong here, but I am not getting any of the colorscheme to work.

### Expected Behavior
Highlighting should match (at least closely) to the gruvbox by Morhetz.
Morhetz/gruvbox (expected behavior):
![gruvbox_original](https://user-images.githubusercontent.com/29664742/117863893-3d4e1a80-b262-11eb-8542-c88096cb9e49.png)

### Actual Behavior
I am not getting any correct hi

[2021-05-12 01:03] #46 closed

[2021-05-13 13:10] #45 closed

[2021-05-13 16:29] hronro opened #49 "setting variables `gruvbox_*` are useless when installed by packer.nvim"
I just noticed in the `settings.lua` there is:

https://github.com/npxbr/gruvbox.nvim/blob/eb5e2ae8845969d1979de9df9481ae291a6ca321/lua/gruvbox/settings.lua#L36-L41

The code above will run immediately when the plugin is loaded.

When plugins is installed by packer.nvim, neovim will loaded plugins first, and `~/.config/nvim/init.lua` will be loaded after that, so `gruvbox.nvim` read those variable

[2021-05-16 03:28] Shivix commented on #49
Yeah, my variable changes had no effect until I put them before the ```colorsheme gruvbox```  in my config

[2021-05-23 19:37] gravndal commented on #40
I'm seeing similar results running the following in my shell:
[code]

Default colorscheme (with the rest of my configuration unchanged):
[code]

vim-gruvbox8:
[code]

vim-gruvbox8 with `let g:gruvbox_filetype_hi_groups = 1`:
[code]

gruvbox.nvim:
[code]

Which honestly isn't that noticeable a difference on top of everything else, it only adds up to about a frame a 60hz. Still every little bit coun

[2021-05-25 01:12] ellisonleao commented on #49
hey @hronro that specific part is just to set the default values first, if you look a little bit down I am making some checks again for custom global vars. About the loading order, I did not have issues so far, and I am using lua in my custom configs. Are you having any issues?

[2021-05-25 01:18] ellisonleao commented on #48
hey @cydmium, i guess you are missing the termguicolors setting. I've added `vim.o.termguicolors = true` in that config, just before the background setting and it worked.

![Screenshot from 2021-05-24 22-17-41](https://user-images.githubusercontent.com/178641/119425565-00f8d080-bcde-11eb-97f2-4b55619f07cf.png)

[2021-05-25 04:05] cydmium commented on #48
That was the problem (well actually it was that my terminal didn't have proper true color support). I've switched terminal emulators and added the termguicolors option and everything is working as expected. Thanks!

[2021-05-25 04:05] #48 closed

[2021-05-25 20:41] ellisonleao commented on #37
hey @m-fonseca is this still an issue? please let me know

[2021-06-04 11:08] ouuan commented on #37
It's still an issue for me.

https://github.com/morhetz/gruvbox:
![screenshot](https://user-images.githubusercontent.com/30581822/120791965-6fa01e80-c567-11eb-90c0-bdbed84920b2.png)

gruvbox.nvim (86bc293):
![screenshot](https://user-images.githubusercontent.com/30581822/120792017-80e92b00-c567-11eb-9eff-c0f5360bddd4.png)

[2021-06-04 22:01] m-fonseca commented on #37
Ouuan's PR fixes this problem for me.

[2021-06-05 03:39] #37 closed

[2021-06-08 16:24] justintime4tea commented on #16
If your terminal emulator supports customizing the background (I use Alacritty and semi-transparent BG) you can have some control over your BG by setting the "guibg" and "guifg" to NONE. The BG should now be whatever your terminal emulator supports. Not precisely a solution but I hope it helps!

[code]

[2021-06-10 08:46] syntezoid commented on #16
@justintime4tea When I add these line, I see this error [2021-06-10 10:32:57.797006482] [ERROR] [alacritty_config_derive] Unable to load config "/home/syntezoid/.config/alacritty/alacritty.yml": Config error: while parsing a block mapping, did not find expected key at line 817 column 1

[2021-06-10 10:24] justintime4tea commented on #16
These are to be added to your vim configuration (some dot vim file either init or one you source from init) not to be added to alacritty.

[2021-06-10 11:15] syntezoid commented on #16
Och, ok. sorry for misunderstanding. Hmm I added those line, but do something wrong, because, nothing changed
cat ~/.config/nvim/init.lua
[code]

[2021-06-10 11:18] justintime4tea commented on #16
You probably need to do that after loading your color scheme. I imagine those would be set by a color scheme.

Also you can try running them in vim (using :) prior to using them in your unit to confirm it works for you and then add to init.

[2021-06-13 16:21] danielnehrig opened #52 "Feature request : transparency"
title
basically removing background colors guibg

[2021-06-14 17:42] cvignal commented on #52
Add `hi Normal guibg=NONE ctermbg=NONE` to your `init.vim` or `vim.cmd([[hi Normal guibg=NONE ctermbg=NONE]])` to your `init.lua` and it should work.

[2021-06-15 18:07] timsofteng opened #53 "Italic for .md files"
Hello. Is it any way to add italic style text displaying for md files?

[2021-06-19 02:06] ellisonleao commented on #53
not sure what you are meaning. Can you elaborate?

[2021-06-19 02:14] ellisonleao commented on #52
unfortunately this is a not a feature in this plugin. You can try the suggestion from @cvignal and it should probably work just fine

[2021-06-19 02:14] #52 closed

[2021-06-19 02:14] #49 closed

[2021-06-19 11:38] timsofteng commented on #53
When I work on .md files I expect to see italic text as italic.

![image](https://user-images.githubusercontent.com/51912173/122641127-f1697d80-d10b-11eb-8200-0d3c07b23c11.png)

Is it possible to implement itailc text into .md files?

[2021-06-27 16:06] sQVe opened #54 "Breaking with latest lush.nvim"
Hey 👋🏼,

Cheers for an awesome colorscheme! I just now ran an update and `lush.nvim` was updated. Since then `gruvbox.nvim` is broken and erroring with:

[code]

[2021-06-27 18:55] jared-mackey commented on #54
Seeing this as well. Looks like @rktjmp has been making a lot of changes there today. They could maybe provide some insight on how to fix :)

[2021-06-27 19:21] rktjmp commented on #54
You can just call `my_color.hex` (or `tostring(my_color)`) instead of accessing the (theoretically private-ish) converter directly.

[2021-06-28 03:10] rktjmp commented on #54
Nb you can pin to 684c06d4879a38e50a247ce23b32beaacc75c4d1 while waiting for the patch to merge if you don't want to use the PR branch directly.

All the new stuff in Lush is around a new colourspace and some new color operations which gruvbox doesn't use anyway.

[2021-06-28 08:59] h4rr9 commented on #54
`require('lush.vivid.hsl.convert')` in base.lua seems to do the trick, assuming its just a simple refactor..

[2021-06-28 09:18] rktjmp commented on #54
I have added a temporary alias to lush so everyone's gruvbox keeps working until the mentioned PR is merged 'cause I know how frustrating it is to have our meticulously configured environment's just break.

Please stick to to the documented API when possible though and raise an issue if it doesn't cover a specific need. Adjusting to use `require('lush.vivid.hsl.convert')` will only break again on

[2021-07-05 23:59] #54 closed

[2021-07-07 21:22] begss commented on #48
I guess it should be mentonied in README, just spend 15 mins trying to solve the problem until found this issue

[2021-07-12 06:31] hovnatan opened #56 "Showing a lot of underlines in Alacritty terminal"
In my C++ code opened in Alacritty (Mac OS X) starting from some point in code, whole text is underline. Can you please help? There are no errors at those lines. ![Screen Shot 2021-07-12 at 15 19 44](https://user-images.githubusercontent.com/8426582/125279300-d661e600-e324-11eb-8df6-f6cfe233bb44.png)

[2021-07-12 11:31] hovnatan commented on #56
Oops, it turned out Treesitter was givinig error at those lines, adding `highlight link TSError Normal` to configs solved the issue.

[2021-07-12 11:31] #56 closed

[2021-07-12 11:35] cryptomilk opened #57 "Everything after #if or #ifdef gets bold and and underlined in C"
As soon as an `#if` or `#ifdef` comes in the code, treesitter is making everything bold and underlined with gruvbox theme:

![neovim-treesitter-hightlighting](https://user-images.githubusercontent.com/545480/125280897-df978680-e315-11eb-95af-854627725167.png)

The C code is here:
https://git.samba.org/?p=samba.git;a=blob;f=source4/kdc/mit-kdb/kdb_samba_policies.c;h=9197551ed6198dd28ba3b9b39797926a

[2021-07-13 07:17] hronro commented on #49
Hi @ellisonleao, sorry for the delay. I'm setting `gruvbox_contrast_dark ` with `vim.api.nvim_set_var('gruvbox_contrast_dark', 'hard')`, but it does not work at all. Are you able to set `gruvbox_contrast_dark `?

[2021-07-18 19:33] chipsenkbeil opened #58 "startify colorscheme weird"
I've been porting all of my configs over to Lua from vimscript and was previously using the primary [`gruvbox`](https://github.com/morhetz/gruvbox) plugin, which produced this color layout:

<img width="964" alt="image" src="https://user-images.githubusercontent.com/2481802/126079873-9a15d42d-278b-405d-81fa-ae2b9199b4cb.png">

Now, when switching to this plugin as part of my overall process, the c

[2021-07-18 19:37] chipsenkbeil commented on #58
Also, I tested by commenting out this plugin and adding back in the original repo and the color schemes work just fine.

<img width="988" alt="image" src="https://user-images.githubusercontent.com/2481802/126080011-25607f6e-87bf-403b-8744-79363b38dfca.png">

[2021-07-22 16:19] begss commented on #16
@justintime4tea it works if executed manually, but does nothing when placed in config file, even if `execute 'colorscheme gruvbox'` is at the beginning and `execute 'hi! Normal ctermbg=NONE guibg=NONE'` is at the end.

[2021-07-27 09:35] Mechap commented on #57
I have the same problem in c++ with try/catch

[2021-07-27 10:26] cryptomilk commented on #57
It could also be a treesitter issue ...

[code]

[2021-07-27 10:40] cryptomilk commented on #57
https://github.com/nvim-treesitter/nvim-treesitter/issues/1632

[2021-07-27 23:47] spamwax opened #61 "Background of 'sign' is Highlighted"
I am not sure if this is intended behavior or it's caused by `signify` plugin, but shouldn't the background of sign not be modified by themes.

This is what I get from `gruvbox.nvim`:
<img width="149" alt="Screen Shot 2021-07-27 at 7 22 06 PM" src="https://user-images.githubusercontent.com/1251233/127241580-0a990ad6-ad00-4f43-8973-05dd914bf6ae.png">
As seen, the entire sign row/column has a lighte

[2021-07-28 18:20] ellisonleao commented on #61
hey @spamwax can you compare with the [gruvbox-community](https://github.com/gruvbox-community/gruvbox/) version and check if its the same output? This plugin is a direct copy of the original one in vimscript

[2021-07-29 11:16] spamwax commented on #61
@ellisonleao
Yea, community version behaves like the screenshots above.
I guess it's a matter of preference. I personally don't like the highlighted one since it breaks away from the rest of the background.

Is there anything highlight group or setting that I can use to change it?

[2021-07-31 05:07] spamwax opened #62 "Performance comparison with VimL version"
Using [startuptime](https://github.com/tweekmonster/startuptime.vim) plugin, I compared the load time of Lua-based gruvbox to the community version:

1. gruvbox.nvim

[code]

2. gruvbox-community

[code]

[2021-08-16 11:46] dzintars opened #63 "[General hint request] Some text has blurry font"
Hi.
I's absolutely sure this is not the issue of this particular theme/plugin.
But me, and possible some other could find it helpful.
![image](https://user-images.githubusercontent.com/547420/129557966-5eb069ed-67ae-49ad-b847-ef92aab26c7f.png)
As you can see in the image, some symbols have blurry text, and i can't figure out what could cause that.
I am using Alacritty with Nerd Hack font size 9.0.

[2021-08-18 03:43] ellisonleao commented on #62
Lua plugins are loaded in a different way, so you really can't use this plugin to measure the real performance. If you use packer.nvim, you can have some real results using the [profiling](https://github.com/wbthomason/packer.nvim#profiling) options

[2021-08-18 03:43] #62 closed

[2021-08-18 03:44] ellisonleao commented on #63
no idea man, but it's definitely not related to this plugin.

[2021-08-18 03:44] #63 closed

[2021-08-18 03:44] ellisonleao commented on #58
Are you using treesitter?

[2021-08-18 03:48] ellisonleao commented on #61
I think the option is only available on the original version, through [`g:gruvbox_sign_column` var](https://github.com/morhetz/gruvbox/wiki/Configuration#ggruvbox_sign_column). The community version, which this plugin is based from, doesn't have this option

[2021-08-18 03:48] #61 closed

[2021-08-18 07:43] chipsenkbeil commented on #58
Yeah, I am

[2021-08-19 14:40] ellisonleao commented on #57
closing this since it's unrelated to the plugin

[2021-08-19 14:40] #57 closed

[2021-08-26 01:47] zpyg opened #64 "Feature Request: Markdown code block highlighting"
Just like vscode
![图片](https://user-images.githubusercontent.com/63000762/130886793-7f40dcc7-d52a-47f0-accb-444485ed5186.png)

[2021-09-04 23:14] FrancisCode13 opened #65 "Error while calling lua chunk"
![imagen](https://user-images.githubusercontent.com/77551844/132110117-b8c905f7-7fd5-42a5-9060-a4acb62d9c81.png)
I was making my own Neovim config, and when installing gruvbox and setting it as a theme, when I open neovim, I get this message.

[2021-09-05 00:29] ellisonleao commented on #65
what neovim version are you using?

[2021-09-05 14:39] FrancisCode13 commented on #65
![imagen](https://user-images.githubusercontent.com/77551844/132130842-a54d4d2a-0045-4afa-9135-eefae780acd8.png)

Nvim v0.4.4

[2021-09-05 17:26] ellisonleao commented on #65
@FrancisCode13  `vim.g` is not available for that version so the plugin will only work for 0.5+ versions

[2021-09-05 22:07] FrancisCode13 commented on #65
Ok ok, i understand, and a question, how i can update neovim?
i was trying with choco upgrade neovim --pre
And other but that don't run

[2021-09-06 09:23] ashincoder opened #66 "Make the colorscheme without requiring lush"
Hi, I have loved this lua port very much. One think I would love to is to stop requiring lush for the colorscheme and making it a indenpendent lua port colorscheme. Was this topic ever been in your mind ?. Other than that I love it very much.
Thank you for your work. Have a nice day :smile:

[2021-09-06 14:23] ellisonleao commented on #65
Unfortunately i am not sure how to fix that on windows. Maybe you can check the issues in the neovim project to see if others have faced the same issue as you or maybe you can try follow other [installation approaches](https://github.com/neovim/neovim/wiki/Installing-Neovim#windows) . I am closing this issue since its not related to the plugin.

[2021-09-06 14:23] #65 closed

[2021-09-14 16:13] joiharalds opened #67 "Bland and little color variation for R syntax (.r files)"
The gruvbox colorscheme displays bland colored syntax highlighting for the R language, .r files, compared to other colorschemes like the default colorscheme.

I have Treesitter set up and working as can be seen in the images, using Treesitter playground.

With default colorscheme syntax highlighting looks proper:

![Screenshot from 2021-09-14 15-55-48](https://user-images.githubusercontent.com/147

[2021-09-19 19:51] sQVe opened #68 "Support new Diagnostic highlight naming"
👋🏼

There's been some breaking changes to the diagnostics of `neovim:master` and the highlights are no longer named `LspDiagnostics`. The new name is `Diagnostic`, ie. `DiagnosticSignError`.

[2021-09-24 02:49] #68 closed

[2021-10-01 13:20] ellisonleao commented on #66
Oh yeah, this is definitely in the plan!

[2021-10-05 16:47] ellisonleao commented on #64
Not sure if this fits here. This could be probably handled by treesitter if you have markdown parser for it, but I am not sure how far that parser is handling the colors for code blocks.  Do you know how vscode handles the color inside code blocks? Is it another plugin?

[2021-10-05 21:22] Mange opened #70 "Undefined function lightline#update"
Starting up neovim with `colorscheme gruvbox` shows an error:

[code]

I tried debugging this, but it has a super weird behavior. The error comes from this part:

[code]

If I comment out the `vim.schedule(…)` call then I get no error. I also do not get the error if I manually invoke `:colorscheme gruvbox` after startup.

I do not have `lightline` installed and the `lightline#update` function is n

[2021-10-05 21:26] Mange commented on #70
(Ha ha, we changed titles as the same time.)

[2021-10-06 00:18] zpyg commented on #64
@ellisonleao It's a build-in feature of vscode. But I found that there is [a vim plugin](https://github.com/plasticboy/vim-markdown) that can do this.

[2021-10-10 08:52] stvhuang opened #71 "Add support for nvim-cmp"
[Link](https://github.com/hrsh7th/nvim-cmp#highlights) to nvim-cmp's highlight groups.

[2021-10-15 13:19] VKondakoff opened #72 "Q: Visual selection inverted colors are looking strange. Everything OK here?"
Hi!

Here is how visual selection colors are looking on my machine:
<img width="701" alt="Снимок экрана 2021-10-15 в 14 54 18" src="https://user-images.githubusercontent.com/230824/137493098-16d3b0b3-28bf-44b1-bcf2-4c83eccc6ef2.png">
<img width="698" alt="Снимок экрана 2021-10-15 в 15 17 15" src="https://user-images.githubusercontent.com/230824/137493129-5a0632b0-1260-4b38-9946-57eb0da1333b.png">

[2021-10-29 12:58] tracyone opened #73 "Error executing vim.schedule lua callback: Vim:E117: Unknown function: lightline#disable"
I don't use lightline

[2021-11-09 14:39] ellisonleao commented on #72
hey @VKondakoff can you share your current config please?

[2021-11-09 15:45] VKondakoff commented on #72
Thanks for looking into this!

Here is a minimal config:
[code]
Screenshot:
<img width="677" alt="Снимок экрана 2021-11-09 в 18 38 46" src="https://user-images.githubusercontent.com/230824/140956203-1741f983-0960-4b6b-96ac-72706b462ec1.png">

And here is how it looks if I add `list`/`listchars` options:
[code]
<img width="677" alt="Снимок экрана 2021-11-09 в 18 41 56" src="https://user-images.gith

[2021-11-09 16:28] ellisonleao commented on #72
ok i will take a look asap and let you know.

[2021-11-12 00:28] #71 closed

[2021-11-14 10:38] perrin4869 opened #77 "Using lightline, the neovim welcome screen flickers out"
This is a minor annoyance, but `disable`/`enable` lightline causes the welcome screen to flicker out almost instantly after booting vim.

[2021-11-16 16:06] begss opened #78 "Feature request: transparent background"
Original gruvbox had `gruvbox_transparent_bg` option for that.

[2021-11-16 16:51] sQVe commented on #78
This is, as far as I know and according to the readme, already supported. All options of the original gruvbox is.

[2021-11-16 17:07] begss commented on #78
Well, I just got that I saw this option in https://github.com/morhetz/gruvbox/pull/287, not in gruvbox itself. However, it's pretty useful as it's the only way to do transparent background, because any "`highlight <...>`" commands in init.lua doesn't take effect.

[2021-11-21 19:33] robbienohra commented on #53
I've noticed a similar issue

[2021-11-21 19:34] robbienohra commented on #53
It doesn't appear to be an issue with `morhetz/gruvbox`

[2021-11-22 01:34] gmr458 commented on #78
Try this and it doesn't work, it would be great to have this feature or if it's already added why doesn't it work? Am I doing something wrong?
![image](https://user-images.githubusercontent.com/53343401/142788478-de9fe918-2762-4b6b-9dc6-63a3b2d66ccb.png)

[2021-11-22 06:25] begss commented on #78
My PR isn't merged yet, so for solution on line 82 to work you'll have to apply my patch manually or to clone my PR's branch. Line 86 doesn't work at all, and that's the reason why I did this PR.

[2021-11-27 23:57] dortin42 opened #82 "Plugin does not work if you dont have lightline installed"
![image](https://user-images.githubusercontent.com/20261354/143723813-5637e0ee-01d0-45bb-989b-1655263d6d78.png)

NeoVim 0.6

[2021-12-04 02:14] eeeXun opened #86 "CursorLineNr not coloring for neovim 0.6"
When `set relativenumber`, the number will be highlight for the line of cursor.
After upgrade to neovim 0.6, it doesn't work.

### neovim 0.5
![](https://i.imgur.com/jaM6RUy.png)

### neovim 0.6
![](https://i.imgur.com/NmCZDjY.png)

[2021-12-05 04:32] stvhuang commented on #86
It works for me with NeoVim `v0.6.0-dev+637-gafbf89dc0`.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/15218222/144733621-6297ed10-167b-4886-8bcf-3068d9cf70c1.png">

[2021-12-05 04:55] eeeXun commented on #86
version:
![image](https://user-images.githubusercontent.com/58657914/144734209-3a28156c-283e-47fc-87fb-09c7d2dca439.png)

[2021-12-10 03:41] eeeXun commented on #86
May be the change in neovim
## 0.5
![image](https://user-images.githubusercontent.com/58657914/145513389-ac0d6fa1-74b0-4a28-9556-d732b9047dac.png)
## 0.6
![image](https://user-images.githubusercontent.com/58657914/145513481-94d272b5-136e-404e-9eb9-a9966165bd07.png)

[2021-12-10 05:28] #86 closed

[2021-12-11 02:21] ellisonleao commented on #82
hey @dortin42 can you show some configs? The strange thing is that this error is being raised after the first lightline check, which in this case was successful. Can you share some configs so i can try to reproduce on my side please? I am not getting any errors here

[2021-12-11 02:37] ellisonleao commented on #78
Sorry guys, the original repo and the community version on which this repo is based does not have that option so I would recommend for you guys that still want that behaviour to add the config manually in your configs.

[2021-12-11 02:37] #78 closed

[2021-12-11 02:38] ellisonleao commented on #77
not sure how to fix that behaviour, feel free to open a PR if you find any fixes!

[2021-12-11 02:38] #77 closed

[2021-12-11 03:40] #72 closed

[2021-12-11 03:41] ellisonleao commented on #19
airline support is now enabled using the same vimscript as the main one, so you now can update your repos and use it.

[2021-12-11 03:41] #19 closed

[2021-12-11 03:46] ellisonleao commented on #53
hey @robbienohra @timsofteng are you using `vim.g.italicize_strings = true` in your config? It's not enabled by default

[2021-12-11 04:17] robbienohra commented on #53
@ellisonleao thanks for the response, what would this setting look like at the level of `init.vim`?

[2021-12-11 04:20] robbienohra commented on #53
if what you meant is
[code]

then that still doesn't seem to work 🤔

[2021-12-11 04:23] robbienohra commented on #53
For the record at the `gruvbox`-level I've always had

[code]

[2021-12-11 09:19] perrin4869 commented on #77
Maybe the issue should remain open? I tried to look into it a while back but I couldn't figure it out either

[2021-12-11 12:59] ellisonleao commented on #53
@robbienohra this plugin has the same API config values as the original one, so it should be:

[code]
the `g:gruvbox_italic` is already true by default so you shouldn't need to reconfig it

[2021-12-11 17:24] robbienohra commented on #53
That did the trick! 🥳  Thank you! 🙏

[2021-12-11 17:29] robbienohra commented on #53
One thing worth noting though is that this now italicizes _all_ strings and not just the markdown italic case.

I suppose I can just add a simple-filetype rule though that conditionally sets this to `1` for markdown files

[2021-12-11 18:56] ellisonleao commented on #53
yes, that's the behaviour

[2021-12-11 19:14] ellisonleao commented on #53
@timsofteng lmk if we can close this issue

[2021-12-12 00:06] robbienohra commented on #53
I think it's also worth mentioning that markdown italicized words such as `_hello_` in `'morhetz/gruvbox'`

[2021-12-12 00:21] ellisonleao commented on #53
@robbienohra can you confirm if the community version has that behaviour as well? this repo follows the code over there and not the original one

[2021-12-12 00:28] robbienohra commented on #53
Confirmed the community version doesn't require the config either for markdown italics to work 🤔

[2021-12-12 00:31] ellisonleao commented on #53
cool, thanks for checking. Will investigate

[2021-12-12 00:35] robbienohra commented on #53
Thanks!

[This](https://github.com/gruvbox-community/gruvbox/blob/master/colors/gruvbox.vim#L1531) seems to be where italicization for markdown files is handled in the community version

[2021-12-12 00:48] ellisonleao commented on #53
@robbienohra just pushed a fix for markdown while i check the other languages, can you validate please?

[2021-12-12 01:32] robbienohra commented on #53
Still no cigar 😞

[2021-12-12 02:25] ellisonleao commented on #53
@robbienohra can you share you config? Here's a screenshot of my editor. I am not adding any italic configs, just setting the colorscheme
![Screenshot from 2021-12-11 23-24-59](https://user-images.githubusercontent.com/178641/145698023-adedf43f-8034-4a54-926e-83c2467fd72d.png)

[2021-12-12 02:55] robbienohra commented on #53
For purposes of investigation I just reduced it to this:

[code]

are you perhaps using a different markdown plugin?

[2021-12-12 02:59] robbienohra commented on #53
Hm...actually wait I may have found a clue

[2021-12-12 03:03] robbienohra commented on #53
I wasn't able to produce a successful case with the other libs with this stripped config — so there must be a clue in my full config.

Here's the full one:

[code]

[2021-12-12 03:07] robbienohra commented on #53
(Minus the new italicize string variable assignment)

[2021-12-12 03:25] robbienohra commented on #53
OK here we go:

[code]

![image](https://user-images.githubusercontent.com/28514482/145698996-c438756c-1786-4b4d-9bbe-3e930faa1e65.png)

![image](https://user-images.githubusercontent.com/28514482/145699000-fba05596-625b-45db-a04d-a5c80f4d4dec.png)

The screenshot is what I see when I toggle between the plugin here and the community one (with the community one showing the italics)

[2021-12-12 05:19] tracyone commented on #82
@ellisonleao @dortin42 try my pr

[2021-12-12 05:20] tracyone commented on #73
same with #82

[2021-12-12 05:20] #73 closed

[2021-12-13 15:55] dortin42 commented on #82
@ellisonleao sorry for late response on this, no, when the plugin failed I removed it, rn I'm using another theme, anyway, I didn't do any weird config for this, just installed, failed and reported here

[2021-12-18 12:42] misaflo commented on #64
You can configure the [default plugin](https://github.com/tpope/vim-markdown) (include in neovim), in your init.lua:
[code]

[2021-12-18 12:58] zpyg commented on #64
Thank you, it worked!

[2021-12-18 12:58] #64 closed

[2021-12-18 19:12] robbienohra commented on #53
@ellisonleao is there anything else I can do to help debug?

[2021-12-24 21:07] sQVe opened #93 "Future diverge from original gruvbox"
👋🏼,

I've been using this plugin for quite some time now and it's been great, so 🙏🏼 for all the work put into it.

One thing that gives me a bit of **FOMO** is some of the styling options of other themes like https://github.com/folke/tokyonight.nvim or https://github.com/rebelot/kanagawa.nvim. I feel that keeping `gruvbox.nvim` aligned, option-wise, with the original gruvbox is a missed opportunit

[2022-01-04 22:10] roland-rollo commented on #93
That's a lovely idea. But project lacks man power now. Maybe if create organization and transfer there this repo, more people could work at gruvbox.nvim. @ellisonleao probably have problem with time, so even with PR from other peoples, it still is blocked by one creator time. Especially, lua plugins and neovim options rapidly evolve. For this moment, lush is no-no, and there is PR for removing it,

[2022-01-05 03:26] stvhuang commented on #93
Agree with @roland-rollo. Maybe we can start with @mhdahmad' [port](https://github.com/mhdahmad/gruvbox.nvim).

[2022-01-05 03:49] ellisonleao commented on #93
Hey everyone, I know it's frustrating to wait for something to get merged and new features to come up, but I am definitely listening to everyone's interests on keeping this repo as good as it should be. I am currently on vacation but I am already reviewing the lush removal and it should be the first thing that will come in. After that I am already thinking in a new config system to allow a lot of

[2022-01-05 17:15] roland-rollo commented on #93
Thank you for info. I  will wait.

[2022-01-08 18:37] ellisonleao commented on #66
lush dependency is now removed, thanks to @mhdahmad !

[2022-01-08 18:37] #66 closed

[2022-01-08 21:41] ellisonleao commented on #82
Fixed in https://github.com/ellisonleao/gruvbox.nvim/commit/d00787254c5417dda002c94028bdf6b0079bd3e9

[2022-01-08 21:41] #82 closed

[2022-01-08 21:41] ellisonleao commented on #70
Fixed in https://github.com/ellisonleao/gruvbox.nvim/commit/d00787254c5417dda002c94028bdf6b0079bd3e9

[2022-01-08 21:41] #70 closed

[2022-01-09 01:02] ellisonleao commented on #53
hey @robbienohra i was looking at the plugin you use for markdown and looks like it uses a HTML highlight group which was missing in this repo for getting italics and bold in place for markdown files. I just pushed them (alongside other fixes). Can you pull latest and check again please?

[2022-01-09 01:04] ellisonleao commented on #93
hey @sQVe going back to this discussion, do you have any proposal for a config system in place? I would like to keep a minimal config but supporting all the current settings. Would love to hear you guys thoughts, maybe in another issue

[2022-01-09 07:03] dahmc opened #94 "Breaks lightline color scheme"
I've seen a few issues here in the last 24h that complained that if you don't have lightline installed, it threw an error, which seemed to have been fixed.

But I actually DO have it :) and the gruvbox theme is now broken:
<img width="403" alt="Screenshot 2022-01-09 at 07 58 57" src="https://user-images.githubusercontent.com/75008413/148672559-a3ace147-5226-42fd-83a4-abcbd20d3912.png">

You can al

[2022-01-09 08:34] roland-rollo commented on #93
New topic/issue is good idea for config. @ellisonleao could you create it? It would be easier to list propositions and what idea you approve and what no.

Little off topic. Is this part good?
[code]
Shouldn't it be?
[code]
Or it's the same?

[2022-01-09 13:27] ellisonleao commented on #93
They do the same thing, the first one is just a lua syntax for multiline strings

[2022-01-09 22:55] robbienohra commented on #53
@ellisonleao eehh it looks like it's working now! 🥳

Thanks a bunch, buddy!

[2022-01-09 23:06] ellisonleao commented on #94
Should be fixed now. Can you please pull latest?

[2022-01-09 23:07] #53 closed

[2022-01-09 23:50] #58 closed

[2022-01-10 06:00] dahmc commented on #94
Still the same exact error on latest

[2022-01-10 16:07] ellisonleao opened #95 "Deprecate and remove airline"
Seems like airline is not used anymore by the majority of neovim users and it's the only remaining leftover for vimscript code. I am considering removing it and leaving just lightline as a custom option for now. I would like to hear some thoughts before moving on

[2022-01-10 16:11] ellisonleao opened #96 "New configuration system"
Following #93, i am opening this issue to discuss a new configuration system for this plugin. The idea for the configuration is to have a table that can be overwritten and with some basic validation for default values.

@sQVe and others would love to hear some thoughts on that.

[2022-01-10 16:11] ellisonleao commented on #93
created #96 and i am not closing this one

[2022-01-10 16:11] #93 closed

[2022-01-10 16:14] sQVe commented on #96
@ellisonleao Sorry for not getting back at you sooner - I blame the holidays, two kids and a puppy 😅

I'll try to write down my point of view either tonight or tomorrow! I don't have any problems implementing things either, once we've actually made a decision.

[2022-01-10 17:15] sQVe commented on #95
I think this makes sense, keep things as lightweight ad possible. If you want to use airline then you could use the original gruvbox instead.

[2022-01-10 18:08] darkangel-ua commented on #95
I'm using `airline` and I don't want to use `lightline` and spend a month trying to integrate all useful stuff into it. Do not really understand what is wrong with supporting it. It's absolutely the same as you support `telescope` or any other plugins except it requires to use vimscript instead of highlight groups - not that nice and clean, but still the same way conceptually. Would be nice it `ai

[2022-01-10 20:22] ellisonleao commented on #67
hey @joiharalds not sure if this is an issue with the proper R treesitter support. Unfortunately i am not much of a help for this particular one since i don't use R. Have you checked if https://github.com/arnau/vim-rlang maybe can help improve some of the groups?

[2022-01-11 12:13] joiharalds commented on #67
Thanks for the answer!
I'm already using Nvim-R which supersedes vim-R-Plugin which vim-rlang is extracted from.

My lazy solution is to just use a different colorscheme for .R files. I could probably amend the colors of gruvbox for .R files but haven't gotten around to it. I'll report here if I do something of that sort.

[2022-01-11 12:13] #67 closed

[2022-01-11 17:25] xeluxee commented on #96
I think [onedark](https://github.com/navarasu/onedark.nvim)'s configuration is well made and it could serve as an example.
It also allows users to customize [colors and highlights](https://github.com/navarasu/onedark.nvim#customization)

https://github.com/navarasu/onedark.nvim#default-configuration

[2022-01-11 20:17] sQVe commented on #96
I agree and mirror @xeluxee opinion. Another example would be https://github.com/rebelot/kanagawa.nvim which has similar configuration options. The de facto standard `lua` way is using a `setup` function and I feel that we should only support that and drop the `g` variables.

Granular options like:

[code]
is really awesome, since it enables you to easily change the look/readability depending on f

[2022-01-14 23:15] franciscomunozz opened #98 "Problem setting theme"
I have installed gruvbox on nvim, but at the time to setting it to the color scheme, my nvim looks like this:

![image](https://user-images.githubusercontent.com/77551844/149597129-6551b6b1-c55e-4529-9c12-f4bcfdcf6012.png)
(Is installed)
![image](https://user-images.githubusercontent.com/77551844/149597138-79c66c76-db54-416c-9a4c-0435ef9fb999.png)

I'm on windows and my neovim version is the v0.6.

[2022-01-15 20:38] ellisonleao opened #99 "use `vim.api.nvim_set_hl()` instead of `vim.cmd[[]]` calls"

[2022-01-16 10:08] jgollenz opened #100 "Error when setting color-scheme"
I get this after installing with packer (`use {'ellisonleao/gruvbox.nvim'}`) and setting it with `:color gruvbox` :

[code]
Uncommenting that line results in no error but also does not set the color-scheme. I had this issue before the switch from Lush, so I used [this](https://github.com/eddyekofo94/gruvbox-flat.nvim) as a replacement for a while. Hoped it was a Lush issue, apparently not.

Neovim

[2022-01-18 17:22] CrossR commented on #94
Looks like the way the lightline theme is set is by directly altering the global lightline variables in lua, rather than offering a theme?

Removing `'colorscheme': 'gruvbox',` from my config made it happy and I have gruvbox colours.

[2022-01-19 07:07] dahmc commented on #94
@CrossR that only removes the error message for me, the color's still don't change to gruvbox.

[2022-01-22 12:47] BarrensZeppelin commented on #94
It works for me if I put the code for initializing the lightline configuration before `colorscheme gruvbox`.

[2022-01-23 18:49] DrShongos commented on #98
add `set termguicolors` before setting the colorscheme.

[2022-01-25 01:59] ellisonleao commented on #100
hey @jgollenz do you have some configs we can check?  it's very strange because i am using the same version

[2022-01-25 02:00] perrin4869 commented on #94
I have the same problem still

[2022-01-25 07:40] jgollenz commented on #100
What configs do you mean specifically? I have other plugins enabled and I could try if turning them all off changes the behavior

[2022-01-25 08:18] jgollenz commented on #100
Ok, the error goes away when I disable  eddyekofo94/gruvbox-flat.nvim, thats good. But I still don't get the expected behavior from gruvbox.nvim. It works for my Lualine (which is disabled in the gif), but I assume this is hardcoded into the Lualine plugin itself

![gruvbox](https://user-images.githubusercontent.com/12050098/150938111-2695bce2-73cf-42ba-809d-d89e201703c2.gif)

[2022-01-25 13:56] ellisonleao commented on #100
@jgollenz i am asking you lua configs because it seems you have 2 gruvbox plugins installed AFAIK right? Because if you do, there will be issues on that function because both namespaces are `gruvbox`

[2022-01-25 16:05] jgollenz commented on #100
Indeed, although one is called `gruvbox-flat` and should not collide in my opinion. Anyway, your are right, they do. But removing `gruvbox-flat` still does not give me a working `gruvbox` plugin. Where would I find the lua configs you mean?

[2022-01-25 16:11] ellisonleao commented on #100
Can you share your editor configs? Are you defining `termguicolors` setting?

[2022-01-25 22:54] jgollenz commented on #100
Thank you! I did not enable `termguicolors`, that seems to have been the issue. But I did not know that this was necessary, maybe it should be added to prerequisites?

[2022-01-27 15:43] ellisonleao commented on #100
yeah, I will add it to the README. Closing this one

[2022-01-29 14:13] ellisonleao commented on #98
I believe @DrShongos has answered it for you.

[2022-01-29 14:13] #98 closed

[2022-01-29 14:20] ellisonleao commented on #95
hey @darkangel-ua i believe if you switch to a more modern statusline plugin like lightline or even [lualine](https://github.com/nvim-lualine/lualine.nvim) you will feel a lot better and definitely won't spend 1 month configuring it because they are really straightforward.  Seems that the majority of people using this particular repo are not using airline for their statusline plugin and i really w

[2022-02-10 06:23] roland-rollo commented on #95
I still voting for removing airline.

[2022-02-10 07:22] darkangel-ua commented on #95
I have moved to `lualine` and it's looking good.

[2022-02-10 17:24] #95 closed

[2022-02-12 15:36] ellisonleao commented on #94
Just got back to this one. I've pushed a fix which i think solves the problem. Can you guys verify if it's okay on your side?

[2022-02-14 11:06] uunnxx commented on #61
What you ended up doing? @spamwax
I have the same issue, and tired by searching solutions...

[2022-02-14 11:08] uunnxx commented on #61
@ellisonleao  what we could do ?

[2022-02-20 17:46] spamwax commented on #61
@uunnxx I ended up switching to `gruvbox-material` theme.

On Mon, Feb 14, 2022 at 6:50 AM バカです ***@***.***> wrote:

[2022-03-06 21:44] ojurkiewicz opened #105 "Diff view is missing syntax highlighting"
<img width="1406" alt="Screenshot 2022-03-06 at 22 33 13" src="https://user-images.githubusercontent.com/18210828/156943074-f9146452-029f-40ab-a3a9-a60d30cd6f94.png">

Hey, just as the title and attached screenshot show. I am using the "sindrets/diffview.nvim" plugin and reviewing changes is currently very unreadable in my opinion. An example of how it might look below. I have no experience with c

[2022-03-17 19:32] MaxVerevkin opened #106 "Gitsings colors are almost indistinguishable"
Currently, green color is used for "Add" and aqua for "Change". My issue is that they are very similar and it's not obvious what is what:

![image](https://user-images.githubusercontent.com/34583604/158880842-95aa09d7-6eba-46dd-9f61-861cffc3c901.png)

I propose using aqua for "Add" and orange for "Change":

![image](https://user-images.githubusercontent.com/34583604/158881145-a99abd92-4c68-46d2-9c

[2022-03-17 21:05] ellisonleao commented on #106
hey @MaxVerevkin have you compared with the original community version to see if the bug is also happening there?

[2022-03-17 21:14] MaxVerevkin commented on #106
hi @ellisonleao, yes the original uses the same colors. Should this proposal first be accepted by "upstream"?

[2022-03-17 21:28] ellisonleao commented on #106
@MaxVerevkin yep, we are trying to keep the same colors here. I have access to the original community project, you can open an issue over there and we can discuss it. What do you think?

[2022-03-17 21:30] MaxVerevkin commented on #106
Sure.

[2022-03-24 13:15] Spuxy commented on #105
agree this should be implemented 👍🏿

[2022-04-03 17:19] timsofteng commented on #78
Hello. How did you achieve this italic font rendering?

[2022-04-04 02:37] gmr458 commented on #78
@timsofteng Font Dank Mono Regular and Italic

[2022-04-04 11:27] timsofteng commented on #78
I mean how to force `gruvbox.nvim` to display italic in cases as on your screenshot?
My main font is `source code pro` and I have full bundle including italic mono one. But in same case it render regular mono.

@ellisonleao
Maybe you have ideas?

And I still don't understand how to enable transparent background.

[2022-04-06 20:58] gmr458 commented on #78
@timsofteng find all options that have "italic" in the name with Ctrl+f in the browser. https://github.com/morhetz/gruvbox/wiki/Configuration

[2022-04-12 20:53] CleoMenezesJr commented on #106
I have exactly the same problem. I believe the upstream color choice was not the best. I'll see if anyone has opened a similar ticket there.
![image](https://user-images.githubusercontent.com/54215258/163052552-8b46b686-dc3d-42b0-84f3-3290dbd3d7fa.png)

[2022-04-15 09:28] timsofteng opened #107 "[Feature request] Transparent background"
Can't find any info how to set transparent background.

[2022-04-15 14:51] stvhuang commented on #107
<img width="422" alt="Screen Shot 2022-04-15 at 10 49 14 PM" src="https://user-images.githubusercontent.com/15218222/163585319-c1083060-14df-44eb-bdd3-c246e6f2a208.png">

On macOS, alacritty, neovim0.7, and this plugin

[2022-04-15 15:38] timsofteng commented on #107
How to achieve it?

[2022-04-15 15:45] stvhuang commented on #107
Set [`opacity`](https://github.com/alacritty/alacritty/blob/master/alacritty.yml#L68) and [`transparent_background_colors`](https://github.com/alacritty/alacritty/blob/master/alacritty.yml#L333) in Alacritty.

[2022-04-15 19:06] timsofteng commented on #107
I set alpha to my `foot` terminal.Now i need to add transparent to gruvbox.nvim. How to do it?

[2022-04-16 03:11] stvhuang commented on #107
My neovim and gruvbox's configs stay unchanged.

[2022-04-16 10:34] dnkl commented on #107
Foot only applies alpha (transparency) to the **default** background color (that **excludes** an explicitly set background color that happens to match the default). All other background colors are rendered opaque.

There are many applications that look very weird otherwise, though what looks "good" or "bad" or, often, debatable... I suppose it would be possible to add an option to foot, controllin

[2022-04-17 19:42] timsofteng commented on #107
@dnkl Hello. Glad to see you here. Thanks for `foot`.
I haven't issue with gruvbox8, it just have ability to disable any background colors. So no questions to foot, just to this color scheme.

[2022-04-17 22:11] ellisonleao commented on #105
hey @ojurkiewicz thanks for the issue! I will be checking the highlights used in that plugin and see how can we improve this one.

[2022-04-17 22:25] #99 closed

[2022-04-18 03:07] stvhuang opened #109 "Error with latest merge (nvim_set_hl)"
[code]

I think this error is causes by [lua/gruvbox/base.lua#L221](https://github.com/ellisonleao/gruvbox.nvim/blob/main/lua/gruvbox/base.lua#L221).

Edit: remove personal info

[2022-04-18 06:23] roland-rollo commented on #109
What is you config? Did you tried `rm -rf ~/.local/share/nvim/site/pack/packer/start/gruvbox.nvim/`?

[2022-04-18 08:33] hadeedji opened #110 "Search highlighting looks wrong after latest commit"
How it should look:
![expected](https://user-images.githubusercontent.com/5730404/163780984-6ff4a0cc-a68e-43a5-b3ca-bc442a296a89.png)

How it looks:
![observed](https://user-images.githubusercontent.com/5730404/163781004-ab18886c-d9fd-49e9-8419-f20cfd792b5c.png)

In addition to this, I also noticed bold text and italic comments not working.
All these issues are fixed by reverting to the previous c

[2022-04-18 08:36] BarrensZeppelin commented on #94
Lightline support is broken again on master. I get:
`lightline.vim: Could not load colorscheme gruvbox.`
which is unfortunately not very helpful.

[2022-04-18 08:54] YuvalHelman commented on #110
Seeing the same issue.
Unfortunately going over the recent commit diff I couldn't find the problem..
would appreciate if you can take a look @ellisonleao

Thanks for your work!

[2022-04-18 12:02] horseinthesky commented on #109
Same thing here. NVIM `v0.8.0-dev+10-ge73ef5c09`

Packer part:
[code]

`colorscheme.lua` module:
[code]

So in my case I see `Neovim: colorscheme: gruvbox not found` message.

But I load it manually with
[code]
I get;
[code]

[2022-04-18 12:13] eeeXun commented on #107
I have the mapping to toggle transparent.
[code]

[2022-04-18 12:21] eeeXun opened #111 "Can't get LSP underline"
After the https://github.com/ellisonleao/gruvbox.nvim/commit/2103170eb9edb0aa90ee2a34f9fea16cc5690cd5 update, I can't get the underline of LSP.
LSP config like this
[code]

[2022-04-18 12:33] stvhuang commented on #109
This error disappears when I comment out `vim.g.gruvbox_invert_selection` in my config.

Invert selection seems not working whether `vim.g.gruvbox_invert_selection` is set to true or false.

[2022-04-18 13:48] ellisonleao commented on #109
hey guys, thanks for the issue, fixing this asap

[2022-04-18 14:45] ellisonleao commented on #94
@BarrensZeppelin just pushed a fix

[2022-04-18 18:03] ellisonleao commented on #109
@stvhuang @horseinthesky just pushed a change, can you guys check if it's working now? thanks!

[2022-04-18 18:07] horseinthesky commented on #109
@ellisonleao Fixed for me. Thank you =)

[2022-04-18 18:09] ellisonleao commented on #111
@eeeXun I've just pushed a change that could possibly fix that issue. Can you pull latest and try again, please?

[2022-04-18 18:09] ellisonleao commented on #110
@hadeedji @YuvalHelman just pushed a change that fixed that. Can you pull latest and try again please?

[2022-04-18 18:14] eeeXun commented on #111
Fixed. Thank you👍

[2022-04-18 18:14] #111 closed

[2022-04-18 18:16] MaxVerevkin commented on #110
@ellisonleao fixes for me

[2022-04-18 19:27] roland-rollo commented on #110
Fixed for me too.

[2022-04-18 19:33] #110 closed

[2022-04-18 20:20] stvhuang commented on #109
Fixed. Thanks!

[2022-04-18 20:20] #109 closed

[2022-04-19 15:55] AckslD opened #112 "Lualine sections transparent"
After the recent commits all my lualine sections are transparent. It does look pretty good for the middle of the statusline but the other sections I would like to not be transparent. How can I either make avoid transparency for lualine or at least some sections?

Current master of gruvbox.nvim:

![gscreenshot_2022-04-19-175204](https://user-images.githubusercontent.com/23341710/164045133-a5d77a78-

[2022-04-19 19:47] AckslD commented on #112
Resolved by loading lualine after gruvbox, see:

https://github.com/nvim-lualine/lualine.nvim/discussions/657

[2022-04-19 19:47] #112 closed

[2022-04-20 07:07] manuelcattelan opened #113 "Italic comments not working on latest commit"
I use packer for configuring all my plugins and reverting to the February commit enables italic comments while updating to latest breaks them and there's no way of making them work.

I'm very new to GitHub and Neovim so if you need any information regarding my config please don't get mad and I'll provide :)

[2022-04-22 06:57] cryptomilk commented on #113
It looks like several options you can set don't work anymore. I turned off italic and currently I have italic fonts. Also lualine seems to be affected by the change.

[2022-04-22 11:48] fitrh commented on #113
That's because the [settings](https://github.com/ellisonleao/gruvbox.nvim/blob/e5455e9ecdcf6f6c95d2d8b15f44c43c389e77b0/lua/gruvbox/base.lua#L24) say `italicize_comments` while the [`Comment`](https://github.com/ellisonleao/gruvbox.nvim/blob/e5455e9ecdcf6f6c95d2d8b15f44c43c389e77b0/lua/gruvbox/base.lua#L285) group still use `italic_comments`

[2022-04-22 11:51] fitrh commented on #113
The workaround for this is to set `vim.g.gruvbox_italic_comments = true` before loading the theme

[2022-04-22 12:17] storopoli commented on #113
That fixed for me @fitrh thanks!

[2022-04-22 12:57] manuelcattelan commented on #113
Thank you @cryptomilk and @fitrh , I was able to fix the issue!

[2022-04-22 13:04] fitrh commented on #113
@manuelcattelan I think it is better to leave this issue open until there is an upstream fix

[2022-04-22 16:18] ellisonleao commented on #113
Hey guys I am reopening this until I can proper fix the issue. Thanks for raising that up

[2022-04-22 20:20] ellisonleao commented on #113
just pushed a fix

[2022-04-23 08:50] manuelcattelan commented on #113
Sorry guys, I didn’t think a fix was on the way since the workaround was so simple. Thanks @ellisonleao for the update!

[2022-04-23 09:50] storopoli commented on #113
Now we can close, I can confirm that the fix works.

[2022-04-23 12:16] #113 closed

[2022-04-24 20:36] kkremitzki opened #115 "Please consider using releases"
Hello, I notice you've bumped the dependencies for this colorscheme to neovim 0.7 which was quite recently released. I haven't updated yet, so this dependency bump has broken my setup, and because there are no releases for this project, I can't pin a dependency on an old version which would continue to work. Could you please consider using releases to avoid this problem?

[2022-04-26 09:21] sstark commented on #115
Releases are so last century :)

I work around that problem by adding a local tag to `~/.config/nvim/plugged/gruvbox.nvim:`

    git checkout dc6bae9
    git tag my06

Then in init.vim I use

    Plug 'ellisonleao/gruvbox.nvim', { 'tag': 'my06' }

Still not perfect having to do that, but it works.

[2022-04-26 09:59] darkangel-ua commented on #115
You don't need local tags for that - just use `commit` key. Both `Plug` and `packer` support that.

[2022-04-26 11:18] sstark commented on #115
missed that -- thanks!

[2022-04-26 13:21] ellisonleao opened #116 "Breaking changes"
We will be using this issue to talk about breaking issues for this repo

[2022-04-26 13:23] ellisonleao commented on #115
Hey @kkremitzki and others, thanks for the advice. I've opened #116 to talk about breaking changes. In the meantime, is it too hard to update to the latest neovim now? Or else you can use use the `commit` flag in your favorite plugin manager. How's that sound?

[2022-04-26 14:06] sstark commented on #115
For Arch etc. no problem. Ubuntu users are still on 0.6 if they use `https://launchpad.net/~neovim-ppa/+archive/ubuntu/stable` and are not willing to switch to the unstable ppa. Even Debian unstable has not updated yet.

[2022-05-12 13:56] im-n1 commented on #115
@sstark

Releases are the base cable. If you work in a software field where A depends on B releases are the one and only thing in terms of dependency-based-world that keeps it together.

Feel free to argue with kernel developers if you think different.

[2022-05-12 18:08] #115 closed

[2022-05-12 18:14] ellisonleao commented on #107
closing this since we don't actually want to support this here and it looks like its more like a terminal issue rather than the colorscheme

[2022-05-12 18:16] ellisonleao commented on #106
@MaxVerevkin going back to this issue, i believe we can make the change to orange now and if we have more complaints we can discuss a better color. Can you please open a PR with that change please?

[2022-05-12 18:20] MaxVerevkin commented on #106
@ellisonleao sure, in which repo?

[2022-05-12 18:33] ellisonleao commented on #106
this one. Then we can suggest to the main one. Makes sense?

[2022-05-12 19:53] #106 closed

[2022-05-16 14:13] Korokoukousei opened #118 "Background transparency"
I would like to enable background transparency like it is in my terminal. I use AstroNvim and they suggested to open an issue here. How do I enable background transparency for this theme?

[2022-05-31 18:31] Soliprem opened #119 "Status Bar Highlight Group defaults to light theme"
![image](https://user-images.githubusercontent.com/73885403/171258998-2e80ddc3-04c4-422e-85db-02385d6c25c5.png)
This is what feline looks like with gruvbox.nvim enabled as the default theme. Is it supposed to be that way? Or is it a bug?
I couldn't find any configuration option to change it; any help would be appreciated

[2022-06-02 21:34] ellisonleao commented on #119
hey @Solipren, i am unfamiliar with feline, can you share your config and some links for that project please?

[2022-06-03 09:26] Soliprem commented on #119
[code]
this is the feline.lua file that gets called. Below follow a link with the project's repo.
https://github.com/feline-nvim/feline.nvim

Do tell me if there's any way I can help further! I'm not a great programmer, but I am willing to do what I can :)

[2022-06-10 18:19] mehalter commented on #119
I believe this is because the default `StatusLine` highlight group is simply the inverse of the normal mode

[2022-06-19 03:51] ellisonleao commented on #119
yep, if you want to override that, we need #96 done first.

[2022-06-20 19:03] ch3rr1 opened #120 "No transparancy for SignColumn"
When trying to set the SignColumn transparent with `g:gruvbox_sign_column = "none"` it doesn't recognize `none` as an available color. Can this be added please?

[2022-06-20 20:51] ellisonleao commented on #120
Highlight group overrides will be added in #96

[2022-06-21 07:43] MaxVerevkin opened #121 "`TSNamespace` is inverted?"
This is what I mean:

![image](https://user-images.githubusercontent.com/34583604/174743708-b523b5ab-15b1-43d7-a12f-9e000b4f482f.png)

It looks like foreground and background of "crate" are swapped? Please correct me if this is intended.

[2022-06-24 17:37] arminveres commented on #120
I set it to 'bg0' an now it's transparent, you could try that for the time being.

[2022-06-25 14:43] madlabman opened #123 "Broken highlight in coc.nvim hover popup"
Breaking change introduced in 3352c12. See for brackets background at the bottom screenshot.

Before:
<img width="498" alt="image" src="https://user-images.githubusercontent.com/10616301/175778448-488328ff-bc46-4033-be63-ec2a2bc39f80.png">

After:
<img width="514" alt="image" src="https://user-images.githubusercontent.com/10616301/175778471-66a02499-efb7-48da-9374-c2ce2a6d09d1.png">

[2022-06-28 21:26] ellisonleao commented on #116
New configuration system:

- All the `vim.g.gruvbox_*` vars are now replaced in a new configuration system using a Lua function. Please check the configuration section in the [README](https://github.com/ellisonleao/gruvbox.nvim#configuration) file for how to set up your custom colors.
- Improved configurations are removed (`gruvbox_improved_strings`, `gruvbox_improved_warnings`)
- Highlight group

[2022-06-28 21:35] ellisonleao commented on #96
New configuration system is now merged guys https://github.com/ellisonleao/gruvbox.nvim/releases/tag/1.0.0  . Please test and check if everything is working properly. Closing this issue

[2022-06-28 21:38] ellisonleao commented on #120
hey guys, the new configuration system is up. Can you try to override the `SignColumn` for your needs and check if its working properly please?

[2022-06-28 21:39] ellisonleao commented on #123
hey @madlabman i just pushed a new config system with some fixes. Can you pull latest, and check if it's still having this issue please?

[2022-06-28 21:39] ellisonleao commented on #105
hey @ojurkiewicz i just pushed a new breaking change, and in the diffview tests i could see on my side that the colors were correct. Can you please pull latest, read the new README and check if it's working properly please?

[2022-06-28 21:40] ellisonleao commented on #16
hey guys, i've just pushed a new config system, which i hope to solve this issue. Unfortunately the overrides are just for the highlight groups now. Can you check latest README and see if it will solve the issues for now?

[2022-06-28 22:09] andrewferrier opened #124 "Inconsistent values for constrast in documentation and code"
**Describe the bug**
Setting

[code]

with the new configuration model seems to have no effect. Instead one has to write:

require("gruvbox").setup({
    contrast = "dark"
})

This seems to be inconsistent with the docs here which suggest "hard": https://github.com/ellisonleao/gruvbox.nvim/blob/12427663c4d11dbe5ba892b9dfb7b2fc21273f3c/README.md?plain=1#L65

I think the check here is wrong:
https:/

[2022-06-28 22:18] andy941 opened #125 "new config options"
**Is your feature request related to a problem? Please describe.**
I like the port  lot, I think is well made. I am only missing some customization options on what's italic, bold etc.

**Describe the solution you'd like**
The new configuration options (more lua-like) are a godsend, thank you for that. I think it would be even better if the customization could be more similar to colorschemes like n

[2022-06-28 22:19] NOTMASTER09 opened #126 "Transparency support"
**Is your feature request related to a problem? Please describe.**
New configuration system has nothing equivalent to setting g:gruvbox_transparent_bg to 1

**Describe the solution you'd like**
Add a new config option

**Describe alternatives you've considered**
I could try to override every highlight group, but that's a hack

**Additional context**
None

[2022-06-28 22:23] ellisonleao commented on #125
hey @andy941 thanks for the issue. We will discuss fine grained improvements later on. for now i would keep this way and just try to make the changes for some groups using the `overrides` table. Would that work for now?

[2022-06-28 22:23] ellisonleao commented on #126
What terminal do you use? isn't just better to add transparency over there?

[2022-06-28 22:27] andrewferrier opened #127 "'inverse' option in config object is not documented"
The `config.inverse` option is used extensively through the definitions in `groups.lua`. Some of the new visuals were quite jarring for me (`Search`, `IncSearch`, `StatusLine`, etc.) as it turns out that this defaults to `false`. I can override it in `setup()` but that option is not documented in `README.md` - I had to read the code to figure it out.

[2022-06-28 22:28] roland-rollo commented on #16
Before update
![ps_20220629002112](https://user-images.githubusercontent.com/44477799/176314381-0f34568a-a9e0-4d48-bf37-4d92633d281b.png)
[code]

After update
![ps_20220629002115](https://user-images.githubusercontent.com/44477799/176314446-5a6b2246-8956-43ad-98da-98b4acdda43e.png)
[code]

Why colors are so different? Is actual hard contrast not the same as old?

[2022-06-28 22:31] roland-rollo commented on #16
Hmm, if I search for something, it's not correctly highlighted:
Before update
![ps_20220629002955](https://user-images.githubusercontent.com/44477799/176315211-4dba8bcd-bf96-40f8-a8fa-b419b59d6d66.png)

And after update
![ps_20220629002942](https://user-images.githubusercontent.com/44477799/176315247-9acc9ef2-753f-442c-b50e-ed40dcc14c19.png)

[2022-06-28 22:37] NOTMASTER09 commented on #126
The problem is that transparency dissapears once i run nvim, because of termguicolor

[2022-06-28 23:13] andy941 commented on #125
Sure, I would be happy with that as well, whatever fits. I'll look into it tomorrow (I am still learning neovim). You can close the issue if you like.
P. S. : has gruvbox_transparent_background=1 been migrated to the new config system?
Thanks for the prompt reply!

[2022-06-29 00:07] ellisonleao commented on #125
No, that config never existed since the initial port

[2022-06-29 00:07] #125 closed

[2022-06-29 00:11] ellisonleao commented on #16
Hey @roland-rollo thanks for raising the issue. Can you open another issue so we can track there please?

[2022-06-29 00:42] ellisonleao commented on #127
nice catch. Fixing it.

[2022-06-29 00:42] #127 closed

[2022-06-29 00:50] ellisonleao commented on #16
hey @roland-rollo just fixed the issue [here](https://github.com/ellisonleao/gruvbox.nvim/commit/328f9e57eed6e02c3e0c383be4069bce91e69763)

[2022-06-29 11:14] ngalaiko commented on #116
hi! I've just experienced the breaking change and found this issue

could you please consider using some kind of alerting when such changes occur?

for instance, I think it would be great if on startup, I could see a message in vim saying that a plugin has deprecated / fully-removed a flag, so I don't need to track it down myself

[2022-06-29 12:26] ch3rr1 commented on #120
Hey @ellisonleao, thanks a lot for the update - works for me now!

[2022-06-29 12:26] #120 closed

[2022-06-29 12:34] roland-rollo commented on #16
Yup, highlight it's fixed. Thanks, mate!

For your question about changing background color. I don't know how. :P
For dark hard version it's originally located in `gruvbox.nvim/lua/gruvbox/palette.lua` as `dark0_hard = "#1d2021"` but I tried few option without result.
[code]

[code]

[code]

[2022-06-29 14:08] JavaHello opened #128 "theme color changed"
This is a screenshot of my nvim yesterday （June 28)
<img width="499" alt="截屏2022-06-29 21 56 42" src="https://user-images.githubusercontent.com/24937965/176455738-0989f44d-ccab-4570-9a44-75bf074db125.png">

Screenshot of current nvim
<img width="560" alt="截屏2022-06-29 21 55 36" src="https://user-images.githubusercontent.com/24937965/176456136-d0d302b7-1113-451f-b248-f6edbb453215.png">

What do I n

[2022-06-29 14:16] JavaHello commented on #128
[code]

[2022-06-29 15:59] MaxVerevkin opened #129 "[Question] how to do `vim.g.gruvbox_sign_column = "bg0"` with the new config system?"
I used to have `vim.g.gruvbox_sign_column = "bg0"` in my config. How can I achieve the same behavior with the new configuration system?

[2022-06-29 18:19] ellisonleao commented on #121
@MaxVerevkin the color for error should be red now in the bg.
![Screenshot from 2022-06-29 15-18-01](https://user-images.githubusercontent.com/178641/176507860-975b7bed-cbad-4db1-9488-aab9d32fe426.png)

Can you check again and close if it's okay? thanks!

[2022-06-29 18:27] MaxVerevkin commented on #121
The regex highlighter parses `crate::` as an error (even though it is not). Tree sitter says it's `TSNamespace`. I checked the latest master changes, and it seems to be highlighted correctly (just like `util::`). Thanks!

[2022-06-29 18:27] #121 closed

[2022-06-29 18:30] MaxVerevkin commented on #129
Before:
![image](https://user-images.githubusercontent.com/34583604/176509933-e7c21e5f-5f85-4973-bbe5-59575d7b9ab9.png)

After:
![image](https://user-images.githubusercontent.com/34583604/176509751-2c2591c9-47fc-431c-88c4-2be3db3e41d1.png)

[2022-06-29 19:45] roland-rollo commented on #16
I'm dumb...
[code]

Is the answer.

[2022-06-29 19:45] #16 closed

[2022-06-29 20:47] ellisonleao commented on #129
@MaxVerevkin can you explain a little bit more? What is your config and expected color?

[2022-06-29 20:51] MaxVerevkin commented on #129
@ellisonleao with the new config system and the new workaround, git-signs have inconsistent background with the rest of the sign column (lines 85-88 on my screenshots).

[2022-06-29 20:55] ellisonleao commented on #129
@MaxVerevkin have you tried the override?

[2022-06-29 20:59] MaxVerevkin commented on #129
Yes. Here's how it looks w/o this override:
![image](https://user-images.githubusercontent.com/34583604/176543750-9239722e-2ac5-4f3a-9dd9-82d6e75fc506.png)

[2022-06-30 01:08] ellisonleao commented on #129
@MaxVerevkin ok i was able to override the following:

[code]
![Screenshot from 2022-06-29 22-06-47](https://user-images.githubusercontent.com/178641/176571280-2e18593a-82bb-4c81-bfec-03baf6af95bc.png)

Unfortunately the old gruvbox colorscheme is way too attached to specific color configs. I will need to find a way to balance this with the new config system.

[2022-06-30 01:42] JavaHello commented on #128
- bufferline config
[require("bufferline").setup({](https://github.com/JavaHello/nvim/blob/ae76c13d9806ecff24b8b099ba36112552419aa8/lua/plugins/config/bufferline.lua#L1)

[2022-06-30 01:48] JavaHello commented on #128
nvim-tree colors also change
- before
    <img width="587" alt="截屏2022-06-30 09 46 10" src="https://user-images.githubusercontent.com/24937965/176575128-7ac9f499-fdec-4d3c-b298-c961ab18e86d.png">
- after
    <img width="720" alt="截屏2022-06-30 09 43 52" src="https://user-images.githubusercontent.com/24937965/176575101-a20512af-8c18-4452-ad9e-bbad519ad8b5.png">

[2022-06-30 06:46] lucax88x commented on #116
Another breaking change is that gruvbox.colors was renamed to gruvbox.palette

[2022-06-30 13:30] andrewferrier opened #131 "Gray not showing up correctly with light background"
**Describe the bug**

Gray colors are not showing up with the new system e.g. comments display in black when `vim.opt.background = "light"`.

**To Reproduce**
1. `vim.opt.background = "light"`
2. Load gruvbox with `setup()`
3. View a comment, or anything else that should be gray - it's black.

**Additional context**

I believe this is because gray is missing here:

https://github.com/ellisonleao/g

[2022-06-30 14:11] #131 closed

[2022-07-01 12:24] JavaHello commented on #128
Thank you, it has been solved, it needs to be loaded at the front

[2022-07-01 12:24] #128 closed

[2022-07-04 08:59] ojurkiewicz commented on #105
![pc](https://user-images.githubusercontent.com/18210828/177120474-e3959e46-9000-449d-8c8a-91465cac6aa7.png)
![hl](https://user-images.githubusercontent.com/18210828/177120483-90b4304f-82a0-448e-ac26-0d6575f71d83.png)

I've updated all plugins with Packer, restarted Neovim and it does not seem to make any difference

[2022-07-04 14:49] ellisonleao commented on #105
@ojurkiewicz can you share your config please? also the neovim version as well

[2022-07-06 21:20] ellisonleao commented on #105
I've checked the original ones and it seems that this is a problem that also happens in the original version. Unfortunately, i don't have an immediate solution for this because that will require changing the main colors for the `Diff*` highlight groups. If you are uncomfortable with the current colors you can override them with the new override system:

[code]

[2022-07-07 15:15] ellisonleao commented on #119
hey @Soliprem were you able to override the highlight? can we close this one?

[2022-07-07 15:16] #105 closed

[2022-07-08 14:28] ellisonleao commented on #116
Moving this to discussions https://github.com/ellisonleao/gruvbox.nvim/discussions/133

[2022-07-08 14:28] #116 closed

[2022-07-14 08:26] madlabman commented on #123
@ellisonleao interesting, but I see no issue with `sainnhe/everforest` theme using `neovim 0.7.2-3`.

<img width="323" alt="image" src="https://user-images.githubusercontent.com/10616301/178936450-2ad8129a-7af9-445c-ab71-c049d7ce87ea.png">

[2022-07-14 09:05] beune opened #135 "Incorrect alignment vertical split with global statusline"
**Describe the bug**
Not sure if this is the right place to post this. If I enable global statusline, vertical spits do not align correctly which really bothers me. Please see the following screenshot
![Screenshot](https://static.beune.dev/2022-07-14_10-59.png)

**To Reproduce**
Steps to reproduce the behavior:
Use global statusline
Open vertical splits

**Expected behavior**
Correct alignment of

[2022-07-14 21:33] ellisonleao commented on #123
hey, @madlabman I just pushed a possible fix for it. Can you pull the latest and confirm, please? I've tested in some builtin lsp diagnostic floating windows for both colorschemes:

light:
![Screenshot from 2022-07-14 18-33-01](https://user-images.githubusercontent.com/178641/179089921-93d769af-c193-4f09-ba17-5a541014c3b1.png)

dark:

![Screenshot from 2022-07-14 18-32-52](https://user-images.gith

[2022-07-15 00:46] ellisonleao commented on #135
hey @beune, I couldn't reproduce it in my terminal ( i am using wezterm ). Here is the screenshot of how it looks like on my end

![Screenshot from 2022-07-14 21-44-32](https://user-images.githubusercontent.com/178641/179124496-a8c5f067-30fd-4426-bc10-235a91baebc3.png)

[2022-07-15 09:08] beune commented on #135
Turns out this was the culprit.

![pic](https://i.imgur.com/7by93mV.png)

Sorry for bothering 😅

[2022-07-15 11:25] madlabman commented on #123
@ellisonleao, I've pulled 1b8b7be and it works now

[2022-07-17 11:37] Sife-ops commented on #126
I tried this but it didn't work.

[2022-07-20 04:15] eeeXun commented on #126
https://github.com/ellisonleao/gruvbox.nvim/issues/107#issuecomment-1101352293

You need to set `guibg` and `ctermbg` of `Normal` to NONE after `colorscheme gruvbox`
[code]

[2022-07-31 20:05] shibotto commented on #129
How are you using, to name one, `colors.red`? Inside `gruvbox.palette` only the variants are defined (bright, natural, faded).

[2022-08-01 02:17] ellisonleao commented on #129
@shibotto actually you can't now. This was a high-level example, but you can use any color you want. If you wish to use the gruvbox colors, you will need to get the exact name from the palette for now.

[2022-08-01 02:17] ellisonleao commented on #129
Will close this one since we didn't get any response so far. Please feel free to open another one if the problem is still not fixed

[2022-08-01 02:17] #129 closed

[2022-08-01 02:37] #119 closed

[2022-08-03 07:18] Hxyspace opened #138 "Problem with changing DiagnosticSign background color"
**Describe the bug**
When I modify the DiagnosticSign background color, the DiagnosticSign foreground color is wrong

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Modify only the background color without changing the foreground color

**Screenshots**
before：
![image](https://user-images.githubusercontent.com/43908359/182547375-4abc14c1-1a42-491d-9c28-7d2c5313cca7

[2022-08-05 03:13] wgxh-cli opened #139 "Conflict with gruvbox-flat"
**Describe the bug**
Failed to call `colorscheme gruvbox`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install this plugin and `gruvbox-flat.nvim`.
2. Use `colorscheme gruvbox` to set the current theme.
3. See the error.

**Expected behavior**
It should work normally.

**Screenshots**
For some reason, I cannot upload the screenshots. But I could describe the error information.
It seems l

[2022-08-05 03:16] wgxh-cli commented on #139
BTW, [here](https://github.com/eddyekofo94/gruvbox-flat.nvim) is the repository of `gruvbox-flat.nvim`.

[2022-08-12 14:43] mohammadne opened #142 "having darker popups"
**Is your feature request related to a problem? Please describe.**
is there any way to have a draker sidebars like for `NvimTree`?
I have tested different setups but I couldn't make it work. (the contrast option has no change)

**Describe the solution you'd like**
add an option to have darker popups.

[2022-08-14 13:51] rReyvn commented on #138
Have the same problem, and i manage to fix by change this

[code]

[2022-08-15 06:17] Hxyspace commented on #138
@rReyvn Thanks for your reply, it worked for me

[2022-08-15 06:17] #138 closed

[2022-08-15 16:11] rReyvn opened #143 "Issue with float term if contrast set to hard"
**Describe the bug**
Some color are missing while using lspsaga float terminal, also the border and statusline not display properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Set Gruvbox contrast to hard
2. Open Lspsaga float term
3. See the problem

**Expected behavior**
Just like the right side of the screenshoot (Default Contrast)

**Screenshots**
![image](https://user-images.github

[2022-08-15 16:54] mario-amazing opened #144 "Add the ability to change the default palette"
It'll be awesome to have the ability to change colors not only for a specific group but for all default palette.
@ellisonleao, what do you think about it?

[2022-08-15 16:57] mario-amazing commented on #144
My proposal is to add merge functionality, default palette and overridden
Example:
https://github.com/ellisonleao/gruvbox.nvim/pull/141/files#diff-55d08b53de540100df87c946fd5f6f085fc842e6b73aa78a451f9e60d0414f11R98

[2022-08-15 23:50] ellisonleao commented on #139
hey @wgxh-cli , unfortunately, you can only use one of them since they all share the same color name and Lua namespace

[2022-08-15 23:50] #139 closed

[2022-08-19 22:17] ellisonleao commented on #142
hey @mohammadne can you give more details on what are the expectations? Also, can you share some configs you've tried please?

[2022-08-22 12:36] mario-amazing opened #147 "Add nvim-tree group hl"
It will be awesome to add nvim-tree group support:
My proposal is:
[code]

[2022-08-24 18:49] ellisonleao commented on #147
hey @mario-amazing thanks for the issue. Are the current highlights from nvim-tree have some links already? I can't tell because i don't use this plugin

[2022-08-25 00:09] mario-amazing commented on #147
@ellisonleao, Yes, right here https://github.com/kyazdani42/nvim-tree.lua/blob/master/doc/nvim-tree-lua.txt#L1283
And I've already configured it (config above)
<img width="281" alt="image" src="https://user-images.githubusercontent.com/9537753/186545275-0d932a71-591a-4c9c-9be8-9d0f18028ac5.png">
So could you add it or maybe I'll create MR for it?

[2022-08-26 04:37] rReyvn commented on #143
I found the solution by removing this line
`vim.o.background = "dark"`

After a while, i realise that when using dark contrast with setting above, the colorscheme will not properly applied
![image](https://user-images.githubusercontent.com/87917880/186821758-3f55a222-dd3e-4063-bc6a-a3d1c9fed787.png)

[2022-08-26 04:37] #143 closed

[2022-09-08 14:36] fitrh opened #148 "Can we expose `get_base_color` from `gruvbox.groups` module?"
**Is your feature request related to a problem? Please describe.**
I feel more comfortable overriding some highlight groups if I can get a palette that is exactly the same as colorscheme used, for this theme, I got the palette by using `require("gruvbox.palette")` but realize this module not so adaptable to the dark-light mode switching and found that in `gruvbox.groups` there is `get_base_colors`

[2022-09-12 14:23] ellisonleao commented on #148
will #145 solve your case? seems like they are kinda about the same issue

[2022-09-12 14:31] fitrh commented on #148
I don't think so, #145 overrides the palette whereas I just want to get the palette once configured by `get_base_colors`

[2022-09-12 15:15] ellisonleao commented on #148
@fitrh I still don't get the full use case. Can you explain a little bit more, please?

[2022-09-12 15:15] ellisonleao commented on #142
closing due to no more feedback

[2022-09-12 15:15] #142 closed

[2022-09-12 15:16] ellisonleao commented on #126
Closing this since i am not trying to add support for this right now

[2022-09-12 15:16] #126 closed

[2022-09-12 16:28] darkangel-ua commented on #148
[code]

If I would have `get_base_colors` I would not need to play around with `hard` vs `soft` variants because that would be already handled and it would be very similar to what `lua/gruvbox/groups.lua:setup()` does.

[2022-09-13 04:24] fitrh commented on #148
I tend to customize a colorscheme like [this](https://github.com/fitrh/init.nvim/blob/main/lua/config/plugin/colorscheme/gruvbox/setup.lua), let say I want to override the bg of `StatusLine` group, using `gruvbox.palette` module, I can get `dark1`, when I switch to light mode, the bg still `dark1` unless I change it to a light palette, but using the colors generated by `get_base_colors` from `gruv

[2022-09-13 04:26] fitrh commented on #148
What I'm asking is not about overriding the palette, but to get it

[2022-09-18 18:10] Diaoul commented on #147
I've done my own theme following `exa`'s gruvbox style.
Nvim Tree:
![image](https://user-images.githubusercontent.com/319220/190922052-f5cac292-64dd-4943-85f1-35d00be339ed.png)
Exa:
![image](https://user-images.githubusercontent.com/319220/190922089-75836bf7-e7fa-4cd7-9ec9-85404606bdba.png)

[2022-09-19 21:30] ellisonleao commented on #147
@Diaoul i've liked this one. Would you be able to send a PR with that addition?

[2022-09-23 06:05] Diaoul opened #151 "Mason highlight groups?"
**Is your feature request related to a problem? Please describe.**
Add highlight groups for Mason?

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/319220/191900589-7eb913ef-0902-4279-b23b-fc7b0c181870.png)

**Describe alternatives you've considered**
Do it myself. And I did.

**Additional context**
Nope

[2022-09-27 15:52] #151 closed

[2022-09-27 15:53] #147 closed

[2022-09-29 03:19] Fin-NewWin opened #153 "feat: add support for nvim-navic"

[2022-09-29 07:01] Diaoul opened #154 "Treesitter support!"
**Is your feature request related to a problem? Please describe.**
The theme is great but it would be better and more coherent with a treesitter tighter integration.
And who uses neovim without treesitter anyways nowadays? :sweat_smile:

**Describe the solution you'd like**
Integration to treesitter much like [catppuccin](https://github.com/catppuccin/nvim/blob/main/lua/catppuccin/groups/integrati

[2022-09-30 17:46] #144 closed

[2022-09-30 17:59] ellisonleao commented on #154
Treesitter support is using the current links from the original version. If the current groups are not working for you, you can always override the groups in the setup call. For the treesitter hlmap I don't think we will support that for now

[2022-09-30 17:59] ellisonleao commented on #153
Feel free to open a PR with the new groups! Thanks

[2022-09-30 17:59] #153 closed

[2022-10-04 13:24] sid-6581 opened #156 "Diff mode selections are barely visible when selected text with differences"
**Describe the bug**
When in diff mode, selections are barely visible on text where there is a difference.

The background remains the same, and only the foreground color changes. The difference is so minimal that it is almost impossible to see.

Text that is the same between the two files, with no diff highlighting, is highlighted as normal when selected.

**To Reproduce**

Diff two files and try

[2022-10-09 05:41] polyzen opened #158 "Support semantic tokens"
https://github.com/theHamsta/nvim-semantic-tokens/blob/master/doc/nvim-semantic-tokens.txt
https://github.com/theHamsta/nvim-semantic-tokens/blob/master/lua/nvim-semantic-tokens/presets/default.lua

[2022-10-17 04:50] Holi0317 opened #159 "Treesitter highlighting is broken after updating treesitter"
**Describe the bug**

See https://github.com/nvim-treesitter/nvim-treesitter/commit/42ab95d5e11f247c6f0c8f5181b02e816caa4a4f and https://github.com/nvim-treesitter/nvim-treesitter/pull/3656.

nvim-treesitter has removed `TS*` highlight group which breaks gruvbox.

Noticed this when editing HTML file as the highlighting for all tags are gone (see screenshot)

**To Reproduce**

Steps to reproduce th

[2022-10-17 05:08] dahmc commented on #159
Some more details here: https://www.reddit.com/r/neovim/comments/y5rofg/recent_treesitter_update_borked_highlighting/

[2022-10-17 05:48] suruaku commented on #159
This is not a fix, but if you use Packer to manger your plugins. Use [PackerSnapshot](https://github.com/wbthomason/packer.nvim#performing-plugin-management-operations) between updates. That way you can easily rollback to working snapshot. This is especially good use for treesitter since "Treesitter and nvim-treesitter highlighting are an experimental feature of Neovim."

[2022-10-18 21:16] maxbrunet commented on #119
Hey @ellisonleao, I tried the `inverse` setting and it seems to have no effect (AstroNvim/AstroNvim#1050), I even tried hard-coding `reverse: false` here:

https://github.com/ellisonleao/gruvbox.nvim/blob/24f9e795bfac5fabbaba703116e747dcf2ad8d2f/lua/gruvbox/groups.lua#L165

And I am not sure I want to inverse any other group, but `StatusLine`.

That produces what I would like:

[code]

Would you h

[2022-10-19 08:21] Integralist opened #160 "Some elements have strange highlighting?"
**Describe the bug**
I use https://github.com/folke/noice.nvim and have noticed that the Cmd/Search bar has a highlight behind it that isn't present in other colourschemes.

**To Reproduce**
No steps to reproduce, but if it's of any help my configuration can be found here:
https://github.com/Integralist/dotfiles/tree/main/.config/nvim

**Expected behavior**
Not to have a lighter background highlig

[2022-10-19 19:00] maxbrunet commented on #119
some more troubleshooting, the output of `:hi StatusLine` with `reverse=true`:

[code]

With `reverse=false`:

[code]

The `xxx` previews the colors properly, and note the `fg` and `bg` are not actually reversed, a `reverse` cterm attribute is added

@mehalter should AstroNvim handle these attributes explicitly when configuring Heirline? They seem to be discarded in the `astronvim.get_hlgroup()` f

[2022-10-19 20:30] samjwill opened #161 "Colorscheme appears to mess up width of ➜ character"
## Describe the bug

This arrow character's (➜) size appears to somehow be affected by this colorscheme. It is used by https://github.com/folke/which-key.nvim as [the default separator](https://github.com/folke/which-key.nvim/blob/45be0efb121415abdf9975734fc566855b1fa2e8/doc/which-key.txt#L144), which is why I noticed it, as it borks the UI if you don't set it up to use another character or colors

[2022-10-20 22:29] maxbrunet opened #162 "Highlight for WinBar (Neovim 0.8+)"
**Is your feature request related to a problem? Please describe.**

The new WinBar added in Neovim 0.8+ does not have Gruvbox colors yet.

**Describe the solution you'd like**

[code]

Seems easy enough, but I trust you have better judgement for the choice of colors.

Thank you for making this colorscheme and no hurry :slightly_smiling_face:

**Describe alternatives you've considered**

Could be s

[2022-10-26 12:12] Shrimp22 opened #165 "HTML tags got white color"
Have a problem with svelte and HTML files
Every HTML tag got white
Using nvim 0.8.0
![image](https://user-images.githubusercontent.com/86841678/198022793-bb6e1f47-6eb9-4fce-af35-d1f608fff4ed.png)

[2022-10-27 11:02] Integralist commented on #160
For anyone else who needs to fix this, I got help from the neovim Reddit to point me at the relevant highlight groups that Noice uses. I opted to keep things simple and just use vimscript inside of Lua to setup the various autocommands etc

[code]

[2022-10-27 11:02] #160 closed

[2022-10-27 14:20] #159 closed

[2022-10-27 14:21] ellisonleao commented on #165
hey @Shrimp22 can you pull latest and try again please?

[2022-10-27 14:43] Shrimp22 commented on #165
@ellisonleao It works now thank you so much!

[2022-10-27 14:45] #165 closed

[2022-10-28 01:24] Asheq opened #167 "W18: Invalid character in group name"
**Describe the bug**
When loading nvim, I see:
[code]

**To Reproduce**
Open nvim

**Expected behavior**
No error

**Additional context**
[code]

[2022-10-28 06:36] youkwhd commented on #167
i can confirm this, i have the same issue after updating the theme.

[2022-10-28 07:35] hovnatan opened #168 "Colors don't look good in in nvim-treesitter-context area"
I have https://github.com/nvim-treesitter/nvim-treesitter-context plugin installed which shows context of current function in top part of the window. Before the recent updates to gruvbox.nvim that area was highlighted uniformly but now there is some non-uniform highlighting that doesn't look good.

![Screenshot from 2022-10-28 11-33-37](https://user-images.githubusercontent.com/8426582/198530409-3

[2022-10-28 08:46] floriankraft commented on #167
+1

[2022-10-28 11:30] yunag commented on #168
Try to add these lines of code to your gruvbox config.
[code]

[2022-10-28 15:12] hovnatan commented on #168
@yunag that didn't work. I ended up using `vim.cmd("hi link TreesitterContext Normal")`

[2022-10-28 15:12] #168 closed

[2022-10-28 15:46] swysocki commented on #167
A Gruvbox prerequisite is  Neovim v0.8.0, it appears you are using v0.7.0.  Did you try upgrading?

[2022-10-28 17:06] youkwhd commented on #167
I have neovim 0.8 installed, the issue still occurs.

[code]
I think the issue is linked with commit https://github.com/ellisonleao/gruvbox.nvim/commit/2fc4980dfa17e76f7c7e963caa69599051d2e75e since the error says it all.

[2022-10-28 17:38] floriankraft commented on #167
I can confirm that going back one commit works. I am using packer as a plugin manager and this solves it for me:

[code]

[2022-10-28 18:50] polyzen commented on #168
Probably should keep this open until a solution is implemented for everyone.

[2022-10-28 19:41] Asheq commented on #167
Thanks @swysocki. I didn't realize the required version changed. I upgraded to the latest nvim Linux AppImage (`NVIM v0.8.0-1210-gd367ed9b2`) and the errors disappeared.

I'll leave this issue open for @ellisonleao to decide what to do with it. Perhaps the plugin should detect the version of neovim and print an error asking the user to upgrade if necessary.

[2022-10-28 19:51] ellisonleao commented on #167
we put all the breaking changes here https://github.com/ellisonleao/gruvbox.nvim/discussions/133 . Please make sure to follow it. It is also a good idea to keep you neovim up with the stable version

[2022-10-28 19:51] #167 closed

[2022-10-28 22:11] ellisonleao commented on #154
closing this since new group support was added in the latest versions. feel free to reopen if the issue still remains

[2022-10-28 22:11] #154 closed

[2022-11-03 10:25] JwanKhalaf opened #170 "Treesitter highlighting doesn't seem to work"
**Describe the bug**

Here is what I am currently getting when opening an AWS CDK (Go) file:

![image](https://user-images.githubusercontent.com/42877376/199697064-08317158-0d89-4172-a91d-820214b2cdd3.png)

**To Reproduce**

My config is [here.](https://github.com/JwanKhalaf/.dotfiles/tree/main/.config/nvim)

**Expected behavior**

With Treesitter, I expect good highlighting like I get in GoLand.

[2022-11-04 09:52] bitboxer opened #171 "Error detected while processing /home/USER/.config/nvim/plugged/gruvbox.nvim/colors"
**Describe the bug**

After my latest `:PlugUpdate` I see this error when starting neovim:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install the latest version of gruvbox.nvim
2. Start neovim
4. See error

**Expected behavior**

No error during bootup

**Additional context**

neovim 0.7.2

[2022-11-04 21:18] thopaw commented on #171
+1

[2022-11-05 03:24] hongxuchen commented on #171
Same error here when I was using a kali-linux packed version of neovim (0.7). The issue was gone when I switched to https://github.com/neovim/neovim/releases/tag/v0.8.0 .

[2022-11-07 03:03] pmyjavec commented on #171
I think this has to do with installing using "Plug" when this plugin seems designed to work with the newer "Pack" format.

[2022-11-07 22:02] ellisonleao commented on #171
Guys, please update to the latest stable Neovim version ( 0.8+ ). That would fix the issue.

[2022-11-07 22:02] #171 closed

[2022-11-09 01:44] ellisonleao commented on #162
hey @maxbrunet honestly i don't have any suggestions for the winbar color for now, I think you can submit a PR with those changes and we can start discussing it, what do you think?

[2022-11-09 02:15] maxbrunet commented on #162
Sure! I actually picked colors last week

[2022-11-09 02:55] Yanis-F opened #175 "W18: Invalid character in group name"
**Describe the bug**
A bunch of lua error are thrown on nvim startup

**To Reproduce**
With
[code]
with this init.lua
[code]

open up nvim, you will see the errors

**Screenshots**
![image](https://user-images.githubusercontent.com/20617764/200725119-ab6387d5-4dda-4913-b1b6-220018ef2fdf.png)

[2022-11-09 03:02] Yanis-F commented on #175
Commenting out these lines fix the warnings...
probably need a better workaround though
https://github.com/ellisonleao/gruvbox.nvim/blob/9002dc7a717d38b7bbe212febe6370fd7d047308/lua/gruvbox/groups.lua#L249-L323

[2022-11-09 14:23] ellisonleao commented on #175
@Yanis-F please update neovim to the latest stable version. This plugin does not support older versions anymore.

[2022-11-09 14:23] #175 closed

[2022-11-10 13:36] #162 closed

[2022-11-10 13:43] ellisonleao commented on #161
@samjwill what terminal are you using? I am using wezterm here and I can't reproduce the behaviour. Some images:

Light mode:

![Screenshot from 2022-11-10 10-41-36](https://user-images.githubusercontent.com/178641/201107191-90c3fb7f-46cf-40ea-8fc6-48439416a250.png)

Dark mode:

![Screenshot from 2022-11-10 10-41-44](https://user-images.githubusercontent.com/178641/201107215-0f17b4a5-9624-4d76-9cb

[2022-11-10 16:20] samjwill commented on #161
Hi! Here's some additional information. Looks like it might be related to something wrong on Konsole's end?

### Operating system/version

Kubuntu 22.04

### Terminal emulator/version

Konsole 21.12.3

### Neovim Version
NVIM v0.8.0-1210-gd367ed9b2
Build type: Release
LuaJIT 2.1.0-beta3
Compiled by runner@fv-az505-656

### Minimal init.lua to reproduce

I included the Packer bootstrapping boilerpl

[2022-11-10 16:20] #161 closed

[2022-11-12 11:15] timii opened #177 "Breaking changes in nvim-treesitter cause wrong highlighting"
**Describe the bug**
The `<template>` section in .vue files are currently being highlighted wrong, because of a breaking change to nvim-treesitter and the name of the highlight groups.

I coincidentally found out that a breaking change to names of highlight groups in nvim-treesitter probably cause this issue, by finding [this reddit thread](https://www.reddit.com/r/neovim/comments/yd4rfa/treesitte

[2022-11-14 17:36] ellisonleao commented on #177
We already support the new tree-sitter highlight groups [here](https://github.com/ellisonleao/gruvbox.nvim/blob/main/lua/gruvbox/groups.lua#L251-L325). Are we missing any groups? What neovim version are you using?

[2022-11-14 17:49] timii commented on #177
Thanks for your response, interesting. My current neovim version is:
[code]
Then it's weird that the highlighting is wrong for me. Could it be a wrong neovim version or an older gruvbox version, or what else could the reason be?

[2022-11-15 09:12] JwanKhalaf commented on #170
hmm, can you try with AWS CDK code please?

[code]

And then open the file containing the Stack code and send a screenshot?

Yours is looking so much nicer!

[2022-11-15 09:28] JwanKhalaf commented on #170
By the way, all I have in terms of settings is:

[code]

Am I supposed to have this too?

![image](https://user-images.githubusercontent.com/42877376/201882476-0ac728fd-a064-4afb-8086-2131db04af00.png)

I assumed not, cause it states "Additional", meaning they're not mandatory!

[2022-11-15 15:16] JwanKhalaf commented on #170
Here is the CDK code: https://gist.github.com/JwanKhalaf/5a3a5549feb5e88177447bb79bcb7364

[2022-11-21 10:22] bamonroe commented on #170
I think I'm having a similar problem. I can't see many of the highlight groups defined [here](https://github.com/ellisonleao/gruvbox.nvim/blob/main/lua/gruvbox/groups.lua) when I use the `hl` command in nvim. In particular, for latex documents, the argument of `\textit{arg}` belongs to the highlight group "@text.emphasis", which should have the `italic` property. I can see this properly defined in

[2022-11-24 13:47] nilueps opened #183 "W18: Invalid character in group name"
Same as #175 but I'm on latest stable (0.8) and still getting this issue at startup.

[2022-11-28 06:12] mmihira opened #185 "Highlighting issues running through docker"
I'm running nvim through docker and getting some strange highlighting issues:

![image](https://user-images.githubusercontent.com/10894457/204206002-da0445dc-77d0-4525-8dba-bb620aab2419.png)

I'm not sure why the strings for example are highlighted like that ? It should only be the characters with the green
highlight but looks like it's the background ?

Note: it works fine not running through doc

[2022-11-28 14:10] ellisonleao commented on #183
hey @nilueps that's weird. Can you share your config please?

[2022-11-28 14:20] ellisonleao commented on #170
On my side i have the highlights:

![image](https://user-images.githubusercontent.com/178641/204300645-6c6f9dfa-1069-4acf-8b84-d4d9e06cc470.png)

[2022-11-28 23:03] IamGianluca commented on #185
Funny enough, I was going to open the same issue. Any idea what could be causing this? I'm using the same dotfiles in my machine and the Docker container.

![image](https://user-images.githubusercontent.com/4025968/204398947-0513699a-23f4-4951-86a6-fbe7bd50a0dd.png)

The top pane is inside the Docker container, and the one on the bottom is in the local environment.

[2022-11-29 00:37] ellisonleao commented on #185
can you guys verify if you have 256 colors in the terminal? I am feeling that may be the issue

[2022-11-29 04:03] IamGianluca commented on #185
Hi @ellisonleao,

I just tried your suggestion and it did work! Thank you so much 🙏

Specifically, I added this line to the Dockerfile:

[code]

[2022-11-29 09:32] JwanKhalaf commented on #170
Man I jealous, I do not get that.

When you have that code open, if you run `:LspInfo` what do you see? I get:

![image](https://user-images.githubusercontent.com/42877376/204492187-ba4719ac-66dd-4e1c-a8dc-31fe13e1ad72.png)

[2022-11-29 12:25] mmihira commented on #185
@ellisonleao @IamGianluca  Ahh thanks so much! That fixed the issue.

I'll close the issue now.

[2022-11-29 12:25] #185 closed

[2022-11-29 17:28] nilueps commented on #183
[code]

[2022-11-29 17:31] nilueps commented on #183
Since opening this issue, I've noticed that the same config doesn't have any problems on a linux machine ( fedora ), the errors only appear on WSL.

I've tried clearing the plugin cache (`$HOME/.local/share/nvim`) and reinstalling everything, but the problem persists.

[2022-11-29 19:04] ellisonleao commented on #183
@nilueps by reinstalling everything do you mean tree-sitter (plugin and parsers) and neovim (latest stable - 0.8.1) ?

[2022-11-29 19:07] nilueps commented on #183
I meant Packer reinstalling the plugins. I'm not using treesitter here

[2022-11-29 19:09] nilueps commented on #183
I'm on nvim 0.8.0; I'll try upgrading the version you mention.

[2022-11-29 19:12] nilueps commented on #183
Can confirm the issue has disappeared for me on `0.8.1`. Thanks!

[2022-11-29 19:12] #183 closed

[2022-11-29 19:13] ellisonleao commented on #177
@timii can you try upgrading to latest stable (0.8.1) and trying again please?

[2022-11-29 19:15] ellisonleao commented on #170
same thing.  For the sake of removing extra possibilities I would try to test this code in the stable version and check if the issue remains

[2022-11-30 17:31] LucasTavaresA commented on #170
![print_30_14:26](https://user-images.githubusercontent.com/80704612/204866557-be16ad13-260d-4275-bb71-159cc047c9a1.png)

i also have something similar, you can test with `diff file1 file2 | nvim`, it goes normal when i disable treesitter highlighting

[2022-11-30 22:07] JwanKhalaf commented on #170
I went ahead and install the stable release, and it still doesn't work :(

All my config is [on GitHub](https://github.com/JwanKhalaf/.dotfiles/tree/main/.config/nvim).

![image](https://user-images.githubusercontent.com/42877376/204918433-bd222cf8-9cde-4179-a357-d22042e3407d.png)